[2015-10-15 14:45] hkjinlee opened #1 "스크린샷 모음"
![screenshot_2015-10-20-10-45-36](https://cloud.githubusercontent.com/assets/7744953/10595919/175d5f46-7719-11e5-9214-896d8757438f.png)
![screenshot_2015-10-20-10-45-46](https://cloud.githubusercontent.com/assets/7744953/10595921/19bacad0-7719-11e5-9329-563ec1359f02.png)

![2015-10-20 12 34 17](https://cloud.githubusercontent.com/assets/7744953/10582370/8b68c9e0-76c2-11e5-91d2-661df73962a3.png)

!

[2015-10-15 15:05] #1 closed, assigned to nobody

[2015-10-18 09:56] hkjinlee opened #2 "평점작업에 대한 트랜잭션 보장"
동시에 여러 사람이 점수를 매기는 경우 overwrite되지 않도록 트랜잭션 처리 필요

[2015-10-18 14:05] hkjinlee opened #3 "아직 먹어보지 않은 메뉴에 대해서는 평가할 수 없어야 함"
현재시각을 기준으로 미래 메뉴는 평가할 수 없게 막자

[2015-10-18 14:08] hkjinlee opened #4 "자신의 평가결과를 바로 화면에 반영"
점수를 줘도 화면에 반영이 안되니 바보가 된 것 같다

[2015-10-18 14:09] hkjinlee commented on #4
아무래도 Observable 패턴을 구현해야 할 것 같음

[2015-10-19 01:48] hkjinlee opened #5 "Proguard 사용하면 클래스이름이 바뀌어서 GA 화면이름도 바뀜"
Screen 메타정보를 설정파일로 빼내거나, 클래스명은 obfuscate하지 않도록 해야 할 듯

[2015-10-19 01:49] hkjinlee opened #6 "구글 로그인을 GA의 '목표'로 설정할 것"
conversion rate 측정을 위해 로그인 이벤트를 별도 기록하고 추적할 것

[2015-10-20 04:35] hkjinlee opened #7 "평점을 5점 체계에서 '좋아요', '싫어요'로 변경"
- 5점 체계보다 '좋아요', '싫어요' 형태가 서비스에 더 알맞는 듯.
- 화면상에는 '좋아요 100명, 싫어요 50명' 형태로 display (일단은 '좋아요'를 먼저 보여주자)
- '싫어요'에 대해서는 태그 필수 입력 (태그에 대한 +1 기능 필요)
- 일간 메뉴리스트 화면에서 대표태그 동반노출

[2015-10-20 04:39] hkjinlee opened #8 "푸쉬메시지 메시지 형태 지정"
- 푸쉬메시지 타이틀은 "오늘의 점심메뉴가 등록되었습니다" 정도로 비밀스럽게 구성
- 하단에 "당신이 좋아할 확률 37% vs 싫어할 확률 45%" 정도로 예측메시지 동반노출
- 점심메뉴에 대해서는 클릭시 A/B 둘 중에 하나의 상세화면으로 랜덤이동하되, 상세화면 내에서 A<->B 전환이 용이한 구조를 마련해야 함
  - 화면상단의 상세이미지영역 우하단 정도에 'A<->B 전환하기' 버튼으로 처리

[2015-10-20 04:41] hkjinlee opened #9 "아이콘 제작"
- 용처: 앱아이콘 및 GitHub 프로젝트 아이콘
- 포맷: 배경투명한 png
- 레이아웃: 상단에는 "밥"을 한글로 쓰고 하단에 "planet"을 영문으로 배치
- Key Color: #FF5722 / #D84315 / #FFCCBC / #F9A825
- 사이즈: 192x192로 일단 작업

[2015-10-20 05:06] hkjinlee opened #10 "페이스북 로그인 버튼 제거"
- 시험삼아 넣어두었던 페이스북 로그인 버튼 제거

[2015-10-20 05:16] hkjinlee opened #11 "일간 리스트화면에 평점주기 버튼 노출"
상세페이지까지 진입하지 않아도 아침/점심/저녁 메뉴에 대해 바로 평점주기가 가능하도록 기능 추가

[2015-10-20 05:18] hkjinlee commented on #7
좋아요 : 싫어요를 상대비중(수평 bar인데 파란색 vs 빨간색)으로 시각화하는 것도 괜찮을 듯.

[2015-10-20 05:54] hkjinlee opened #12 "식당에서 밥먹었는지 detect"
식사시간대(12:00~13:30, 18:00~19:30)에는 일정간격(5분?)마다 Wifi SSID를 검사해서 "SKP-GUEST"가 잡히면 사내 식당에서 밥을 먹은 것으로 간주하고 평가요청 notification을 띄워봅시다.
- Wifi를 끄고 다니는 사람이 많을 경우 무용지물이 되므로, v1.0에서는 먼저 해당 시간에 Wifi가 켜져있는지 꺼져있는지만 조사하는 게 좋겠네요.

[2015-10-20 06:01] bigapple01 commented on #12
와이파이 기준의 노티는 좀 어노잉할 수도 있다고 생각합니다. 다른 필터링 요소가 추가되거나, 시간대를 줄이거나(외식파의 복귀 시점 이전까지), 특정 두 시점에서 모두 SSID가 'SKP-GUEST'로 잡혔다거나 등등...

[2015-10-20 06:03] hkjinlee commented on #12
좋은 지적입니다! 당장 메모해두자는 의미에서 일단 적어둔 것이고, 실제 구현 로직은 위처럼 단순하면 안되겠죠 :)

[2015-10-20 06:10] bigapple01 commented on #7
유튜브의 좋아요/싫어요 바 말씀이시죠? 그런 느낌이면 될 것 같습니다.

[2015-10-20 06:12] bigapple01 opened #13 "마지막 날짜에서 플리킹을 하려고 하면 토스트 띄우기"
주간 단위로 식단이 입력되니, 매주 마지막 금요일까지 간 뒤 flick하면 별다른 노티 없이 이동이 안 됨.
'마지막 날짜입니다' 정도의 토스트 팝업만 노출시켜도 무방할 듯. (마이너 이슈)

[2015-10-20 09:29] hkjinlee commented on #7
이슈는 해당 기능이 제품에 반영되기 전까지는 열어두는게 좀더 맥락에 맞아 보입니다.
일단 부활시킬께요~

[2015-10-20 09:30] bigapple01 commented on #7
제가 실수로 닫았네요... ㅎㄷㄷ

[2015-10-20 14:52] hkjinlee opened #14 "푸쉬메시지 타잎을 미리 정해둘 것"
- 시작은 1종류의 메시지(메뉴알림 only)로 시작하지만 미리 메시지타잎 지정해둘 것
- 업그레이드 버전 등록알림이라거나
- 설문조사 푸쉬 등 다양한 종류를 수용가능한 구조를 미리 만들어둘 필요

[2015-10-20 15:02] hkjinlee opened #15 "개발서버와 상용서버 분리"
- Google AppEngine이 제공하는 버저닝 레벨에서 분리할지
- 아니면 별개의 컨테이너로 분리하는 레 나을지 판단해서 scheme 짜야함

[2015-10-20 15:34] hkjinlee opened #16 "사용자가 음식사진 올릴 수 있도록 하되, 사진 선정은 집단지성을 이용할 것"
- 목적: 다음검색 이미지를 점차적으로 사용자 사진으로 대체
- 사용자가 직접 찍은 사진을 업로드할 수 있도록 함
- 다만 기존 사진을 교체할지 아닐지는 사용자들의 집단지성에 맡김
  ([Google Image Labeler 사례](http://ssambai.tistory.com/120) 참조)

[2015-10-20 15:43] hkjinlee opened #17 "메뉴상세화면 > 서브메뉴 카드에서는 panning down이 동작하지 않음"
1. 화면을 위로 밀어올린 상태에서
2. '서브메뉴' 카드에 손가락을 대고 화면을 아래로 밀어내려도
3. 화면이 panning down되지 않음

[2015-10-20 15:59] hkjinlee opened #18 "환경설정 화면"
1. 푸시메시지 설정
   - 점심 / 저녁 메뉴 각각에 대해 선별적 on/off
2. ~~구글 로그아웃~~
3. (개발버전 only) 기기번호 및 사용자번호 노출
4. ​제품 만든 사람들 소개

[2015-10-20 16:15] hkjinlee opened #19 "ApiProxy를 Builder 패턴으로 리팩토링할 것"
- 개별 argument들의 역할이 중첩되니 다소 verbose해지더라도 Builder 패턴으로 리팩토링하는게 좋겠음

[2015-10-21 01:45] dusskapark commented on #9
[드랍박스 링크](https://www.dropbox.com/sh/ake517w291kpceq/AACL-B7xEzRQ6T3hsAsYNE7Na?dl=0)를 추가합니다.
- 주문제작품: ![dohyun001](https://cloud.githubusercontent.com/assets/4177529/10625673/d8e2238c-77e0-11e5-9b80-d61a27a73bd2.png)

[2015-10-21 01:51] dusskapark commented on #9
아이클라우드 링크를 다시 보냅니다.
링크가 동작하면 드랍박스 링크는 삭제하겠습니다.

https://www.icloud.com/keynote/0000GgDD1oe2TvwXEORDuP1Zw#밥플래닛
https://www.icloud.com/keynote/0000GgDD1oe2TvwXEORDuP1Zw#%EB%B0%A5%ED%94%8C%EB%9E%98%EB%8B%9B

2015년 10월 20일 (화) 오후 1:41, Jin, Heonkyu notifications@github.com님이 작성:

[2015-10-21 02:03] dusskapark opened #20 "웹사이트 개발범위 지정"
# 웹사이트가 필요한가?
## 사용자 측면: 웹이 접근할 수 있는 사용자층이 더 넓다.
- 아이폰 사용자 커버 ( 최소한 식단 매뉴랑 별점 현황/랭킹 정도는 보여주자)
- 앱을 깔지 않은 안드로이드 사용자 커버
- 데스트톱 사용자 커버
## 테스트 측면
- MP를 활용한 GA 통합
  - 웹에 이벤트 또는 공지사항 페이지를 작성하고, 앱을 열었을 때 동일한 session으로 묶어보자
- 웹에서 구글 로그인 > 앱 다운로드 기능
- 디자인 테스트: 웹에서 디자인을 먼저 퍼블리싱 해서 만들어복 괜찮으면 앱에도 참고
# 정리하다 보니..
- 걍 만들고 싶은듯;
- 혼자 만들어야 하니깐 버전은 2.0 정도로..

[2015-10-21 13:34] hkjinlee commented on #9
제가 생각하는 컬러링 컨셉은 대충 이래요:
http://www.shutterstock.com/pic-296573297/stock-vector-set-of-color-vector-icons-ice-cream-soybean-paste-soup-coffee-bread-birthday-cake-rice-milk.html?src=csl_recent_image-4

[2015-10-21 14:21] hkjinlee commented on #9
https://github.com/bobplanet/Bobplanet/blob/master/app/src/main/res/values/colors.xml 를 참조하면 현재 앱에서 활용중인 color code 나옵니다. 식판 메타포를 살짝 채용하고 아침-점심-저녁 색상을 탭으로 바꿔본 이미지 첨부합니다.

![ic_launcher](https://cloud.githubusercontent.com/assets/7744953/10639317/7786319a-784a-11e5-9b2c-86c960dcdea0.png)

[2015-10-21 14:36] hkjinlee commented on #9
한글보다는 영어가 좌우 align이 맞아서 더 나아 보이네요.

![ic_launcher](https://cloud.githubusercontent.com/assets/7744953/10639670/747d8ba4-784c-11e5-860b-de1f8d2d323f.png)

[2015-10-21 15:21] #13 closed, assigned to nobody

[2015-10-21 15:47] #5 closed, assigned to nobody

[2015-10-22 02:53] #19 closed, assigned to nobody

[2015-10-22 03:11] hkjinlee opened #21 "'사용자'와 '사용자의 기기'를 분리할 것"
- GCM토큰은 기기단위가 맞고, 구글 로그인은 사용자단위가 맞음
- 지금 현재 구조를 그대로 유지하면 같은 구글계정으로 로그인해도 기기가 다르면 별도 사용자가 됨

[2015-10-22 04:03] hkjinlee commented on #20
푸쉬메시지 타잎 정리하다보니, 티스토어랑 마찬가지로 webview에서 뜨는 이벤트 푸시 보낼 일이 가끔 있을 듯하네요. 런칭이벤트로 메뉴평점 많이 올려주신 분들 중 일부에게 10층 식당 식권 드리는 이벤트를 기획하고, 이쪽 안내페이지를 웹뷰로 만들면 어때요? (식권비용은 50만원 지원금에서 충당)

그렇게 하면 모바일웹쪽 작업 먼저 진행하다가 런칭 즈음해서 webview에 넣고 tracking session 묶는 작업 진행하면 될 듯. 1.0에 넣어서 진행해볼 수 있지 않겠어요?

[2015-10-22 04:46] hkjinlee opened #22 "런칭 프로모션 기획"
- 목표: user acquisition 및 initial 평가데이터 확보
  - 10층 식당 방문해서 끼니당 식사인원 확인, 해당 인원의 10%를 1차 사용자 풀로 설정
  - initial 평가데이터: 런칭일 기준으로 1개월이내 모든 점심/저녁 메뉴에 대해 3건 이상의 좋아요/싫어요 데이터 및 1개 이상의 코멘트 확보
- 프로모션 채널
  - 웹페이지: 별도 도메인 없이 http://kr-bobplanet.appspot.com/event 이용
  - 이벤트 내용, 앱 다운로드 링크, 발표일정 등등
- 프로모션 집객
  - SK플래닛 직원 타게팅한 페이스북 광고
  - 사내메일 및 쪽지
  - 블라인드 및 우리들 이야기
- 측정방법
  - GA 대시보드 등록 및 메일알림 설정 (최대한 자동화)

[2015-10-22 05:01] hkjinlee opened #23 "주단위 화면 추가"
- 주단위 메뉴조회화면 신규추가
- 기존 일간화면 컴포넌트 재활용이 관건 (code redundancy 최소화)
- 주별 화면은 일별 화면과 평행한 존재로, 메뉴 클릭시 바로 메뉴상세화면으로 이동
  (주간 -> 일간 -> 메뉴 아님. [ 주간 <=> 일간 ] -> 메뉴 hierarchy로 구성)
- 서버는 별도 API 만들지 않고 menuOfDate API가 여러 개의 날짜를 받도록 구성

[2015-10-22 05:20] dusskapark commented on #20
음, 웹의 상단 GNB를 오늘의 매뉴 / 이벤트 정도로 구분하겠습니다.
이벤트 및 공지사항을 작성할 수 있도록 하겠습니다. (몽땅 다 만드는 것은 하기 힘드니깐 Tistory 쪽을 살펴보고 있습니다.)

2015년 10월 22일 (목) 오후 1:03, Jin, Heonkyu notifications@github.com님이 작성:

[2015-10-22 06:58] dusskapark commented on #22
[code]

검토 중

2015년 10월 22일 (목) 오후 1:46, Jin, Heonkyu notifications@github.com님이 작성:

[2015-10-22 14:34] hkjinlee opened #24 "메뉴상세화면 좌상단 '<-'를 누르면 그냥 오늘날짜로 돌아옴"
재현방법
1. 앱을 실행한 뒤 좌우 패닝해서 오늘이 아닌 다른 날짜로 이동
1. 메뉴를 눌러 상세화면 진입
1. 좌상단 툴바의 '<-'를 눌러 up
1. 오늘날짜의 일간메뉴 화면이 뜸

[2015-10-22 14:56] #24 closed, assigned to nobody

[2015-10-24 02:33] hkjinlee opened #25 "'앱 정보'에서 데이터 지울 경우 기기와 회원이 새로 등록됨"
- 이 경우 회원/기기의 garbage data가 쌓이게 되므로 정리 필요

[2015-10-24 03:08] #21 closed, assigned to hkjinlee

[2015-10-24 03:08] #25 closed, assigned to nobody

[2015-10-25 05:31] hkjinlee commented on #2
처리 완료.

[2015-10-25 05:31] #2 closed, assigned to nobody

[2015-10-25 07:20] hkjinlee commented on #6
![2015-10-25 4 19 40](https://cloud.githubusercontent.com/assets/7744953/10714476/4431094a-7b34-11e5-94d3-3db553c32cc3.png)

[2015-10-25 07:20] #6 closed, assigned to nobody

[2015-10-25 15:01] hkjinlee commented on #20
http://bobplanet.github.io/ 에 테스트 페이지 올려뒀습니다.
소스는 https://github.com/bobplanet/bobplanet.github.io 참조.

GitHub Pages가 [Jekyll](http://jekyllrb.com/)이라는 페이지생성기를 지원하는데, 그냥 PC에서 html 파일 수정해서 github에 push하기만 하면 알아서 다 해주니까 별도 서버도 필요없고 아주 편하네요.

아예 홈페이지 팀을 하나 따로 만들까봐...

[2015-10-25 15:55] dusskapark commented on #20
괜찮을 것 같습니다. 괜찮으시면 저랑 한두명을 역할 지정해서 역할을 지정해주시면 맞춰서 달리겠습니다. (원래 생각대로 두식 매니저가
기획하고; 제가 개발해볼까요? :)

2015년 10월 26일 (월) 오전 12:01, Jin, Heonkyu notifications@github.com님이 작성:

[2015-10-26 00:18] hkjinlee commented on #20
츨근길에 jekyll 관련글을 좀 읽어봤는데, jekyll + github pages 조합이 꽤 괜찮네요. 일단 무료고, 그냥 HTML 페이지라 서버코딩 필요없고, 블로그 포스트는 markdown으로 만들어 파일로 떨궜다가 git push하면 서버에 자동반영되고...

코멘트 기능을 사용하려면 disqus 같은 걸 써야하는데, 코멘트가 필요할지는 내일 얘기해보죠.

[2015-10-26 01:40] dusskapark commented on #20
지난주에 생각했던 Tistory를 사용하는 것이랑 jekyll + github pages 조합으로 아예 페이지를 만드는 것 중에서
하나를 선택하면 어떨까 합니다.
장단점이 명확한데, Tistory 는 코드 접근성이 떨어져도 이런것저런 것을 해볼 수 있게 해준다는 점이 장점이지만 반대로 코드
자유도가 확실히 떨어집니다. 직접 페이지를 만드는 것이랑은 딱 이런차이가 있어 보입니다.

2015년 10월 26일 (월) 오전 9:18, Jin, Heonkyu notifications@github.com님이 작성:

[2015-10-26 05:06] hkjinlee commented on #20
HTML을 직접 수정할 수 있는 github pages쪽이 저는 더 괜찮아보이네요. 대략 아래와 같은 제품소개 중심의 페이지를 만들 필요가 있다고 보는데요, tistory가 이런 사이트에 적합할까요?

https://www.wunderlist.com/ko/
http://home.playwings.co.kr/
https://www.duolingo.com/
https://www.pushbullet.com/
https://send-anywhere.com/

[2015-10-26 06:01] dusskapark commented on #20
- onGoing 하게 이벤트, 공지사항 등 운영을 꾸준히 할 것인지? 변수가 될 것 같습니다.
  - 만약 운영을 한다면, Tistory를 twik 하는 것이 장기적으로 운영에 편리합니다. (매번 퍼블리싱을 안해도 되고 에디터도
    강력한 편이고..)
- 음.. 깃헙 페이지로 일단 다 만들고 나중에 또 필요해지면 수정을 하는 것도 좋을 것 같습니다.

2015년 10월 26일 (월) 오후 2:06, Jin, Heonkyu notifications@github.com님이 작성:

[2015-10-27 04:53] hkjinlee opened #26 "컬러코드 및 화면UI tweak"
- 전체적인 디자인은 Material design guide를 따름 (https://www.google.com/design/spec/style/color.html  참조)
- 컬러코드는 좀더 vivid한 톤으로 진행: 아래 사이트 참조
  - http://www.materialui.co/colors
  - http://www.materialpalette.com/

[2015-10-27 07:14] hkjinlee opened #27 "팀원 여러분, 프로필 아이콘 등록해주세요"
@DoosikKim @bigapple01 @jinsueng @hoyoonjung @sjs1178 @jhh7984
지금 주말근무 대체로 얻은 반차를 종로 카페에서 보내고 있는데요, 다들 시간되실 때 GitHub상의 본인 아이콘 등록해주시길 부탁드립니다. (꼭 자기 얼굴 아니라도 됩니다. 귤이나 책, 비행기 사진도 무방) 아이콘이 없으니 누가 누군지 알아보는데 약간의 시간이 소요되네요.

이미지를 포함한 프로필 수정은 아래 URL을 이용하세요:
https://github.com/settings/profile

[2015-10-27 07:22] dusskapark commented on #27
넣었습니다. ^^

2015년 10월 27일 (화) 오후 4:14, Jin, Heonkyu notifications@github.com님이 작성:

[2015-10-27 08:38] hkjinlee commented on #26
오늘 @sjs1178 님께서 아래와 같은 디자인을 잡아주셨는데.. 몇가지 의견 보탭니다.

![main_fold](http://songjinseok.com/bobp/bobp_main_fold.jpg)
- 좋아요/싫어요 현황과 버튼의 통합
  - 카드 우측 하단의 +107/-30(현재 현황)을 아예 아래로 내려서 '좋아요'/'싫어요' 옆에 넣어버리면 어때요?
  - [ 乃 좋아요(+107) ] [ 乃 싫어요(-30) ] => 이렇게 두고, 사용자가 누르면 숫자가 1 증가하는 형태
- 좋아요 vs 싫어요를 시각적으로 대비시킬 수 있는 visual cue 도입
  - '좋아요' 버튼과 '싫어요' 버튼 안에 숫자 외에도 색상 등을 이용한 시각적 대비요소가 있으면 좋을 것 같아요.
  - 투표가 많을수록 배경색을 더

[2015-10-27 08:48] hkjinlee commented on #26
@sjs1178 다만 화면의 fold/unfold는 좋은지 모르겠습니다. (개인적으로 unfold된 상태에서 다시 fold상태로 돌아가려는 의도로 무의식중에 back을 눌렀다가 아예 이전화면으로 가버린 경우가 있었음) 혹시 좋은 사례가 있으면 앱 다운로드 링크 하나 걸어주세요.

[2015-10-27 08:54] hkjinlee opened #28 "bobplanet.kr 도메인 등록"
정식으로 도메인 등록해서 http://bobplanet.github.io/ 를 이쪽으로 연결합시다.

도메인: bobplanet.kr (다른 도메인이 필요할까요?)
등록기간: 1년
등록비: 팀 지원금에서 충당 (이건 Plalab 비용으로 처리하기 애매하네요)

@dusskapark 님, 제가 확인해보니 도메인 자체는 주인이 없는 상태입니다. 널럴할 때 구매 진행합시다 :)

[2015-10-27 08:57] hkjinlee commented on #11
#26 에서 논의 진행합니다

[2015-10-27 08:57] #11 closed, assigned to nobody

[2015-10-27 09:07] dusskapark commented on #26
- 이미지 관련
  - 이미지 사이즈를 줄여도 될까요? 이미지를 전면으로 꽉채워봤는데, 가끔 해상도 떨어지는 것이 있어서 이상하게 보일 때가 있습니다.
  - 위와 같은 이유로 그위에 글씨를 쓰는 것도 최소화 하는 것이 어떨까.. (낮은 해상도에 흰색 글씨는.. 지양하는 것이 좋을 것 같습니다.)
  - 대신 하단에 글씨를 충분히 노출할 수 있는 공간을 만들고 활용하면 어떨까.. 합니다.
  - 웹에서는 부족한 공간은 카드 뒤집기 (reveal) 액션으로 처리하면 어떨까.. 합니다.

![screen shot 2015-10-27 at 6 01 22 pm](https://cloud.githubusercontent.com/assets/4177529/10753504/c68bc6ae-7cd4-11e5-8fa4-ab

[2015-10-27 09:08] dusskapark commented on #28
집에 가는 길에 구입하겠습니다.

2015년 10월 27일 (화) 오후 5:54, Jin, Heonkyu notifications@github.com님이 작성:

[2015-10-27 13:15] hkjinlee commented on #26
@dusskapark 이미지 해상도는 충분히 높을텐데 이상하네요.
가자미구이 이미지: http://postfiles14.naver.net/20150331_61/livlong_1427777960575mTgJl_PNG/DSC09877.png?type=w1 (900x504)
썸네일:
https://t3.search.daumcdn.net/argon/130x130_85_c/EtQfaXXSxWQ

https://console.developers.google.com/project/kr-bobplanet/datastore/query?authuser=0&queryType=KindQuery&namespace=&kind=Item 접속하면 현재 식단 데이터 볼 수 있습니다.

[2015-10-27 13:40] hkjinlee opened #29 "앱 -> 웹으로 연결되는 경우 일관된 기준으로 GA 트래킹"
올해 봄에 우리에게 GA가 무엇인지 가르쳐준 Cutroni 아저씨 블로그에 좋은 글이 있네요;
http://cutroni.com/blog/2014/04/10/understanding-cross-device-measurement-and-the-user-id/

요는, userId(=사용자 식별자. 기기 식별자 아님)를 직접 설정할 수 있는데,
- Web에서도
- Android 앱에서도
- iOS 앱에서도
  이게 각각 가능하다는 얘깁니다.

이런 구조를 취할 수 있게 서비스 구조를 일단 바꿔보겠음.

[2015-10-27 15:01] dusskapark commented on #28
구입 후 CNAME 도 연결했습니다.

2015년 10월 27일 (화) 오후 6:08, Jude Park dusskapark@gmail.com님이 작성:

[2015-10-27 15:02] #28 closed, assigned to dusskapark

[2015-10-27 15:04] hkjinlee commented on #28
오오 고생했음! 근데 github 이슈메일은 회신만 해도 게시판에 등록되는거냐?
2015. 10. 28. 00:01에 "Jude Park" notifications@github.com님이 작성:

[2015-10-27 15:05] dusskapark commented on #28
네, 회신만 하면 등록됩니다.
아이콘을 자세히 보시면, 메일로 등록한 답글은 메일모양 아이콘이 있습니다 ^^

2015년 10월 28일 (수) 오전 12:04, Jin, Heonkyu notifications@github.com님이 작성:

[2015-10-28 05:25] dusskapark opened #30 "JDK 1.8 버전을 타겟버전으로 하는 이유가 있는지 문의"
@DoosikKim 의 질문을 전달합니다.

[2015-10-28 05:36] hkjinlee commented on #30
@DoosikKim 아~주 간단합니다. OnClickListener 같은 걸 구현할 때 주로 사용되는 anonymous inner class를 lambda로 대체하려구요. 그래서 JDK5~7에서도 lambda를 지원하게 해주는 [Retrolambda](https://github.com/orfjackal/retrolambda)를 쓰고 있습니다.
- Lambda를 이용한 코드

[code]
- Anonymous inner class를 이용한 코드

[code]

[2015-10-28 05:38] hkjinlee commented on #15
상용서버: http://kr-bobplanet.appspot.com
개발서버: http://1dev-dot-kr-bobplanet.appspot.com
으로 Google AppEngine 인스턴스 분리

이번에 산 bobplanet.kr 도메인으로 옮길지는 고민 필요.

[2015-10-28 05:38] #15 closed, assigned to nobody

[2015-10-28 05:38] hkjinlee commented on #18
개발 완료.

[2015-10-28 05:38] #18 closed, assigned to hkjinlee

[2015-10-28 08:20] hkjinlee commented on #30
@DoosikKim 진짜 궁금하신 건 이게 아니었던 듯하네요. 클래스는 1.8 버전으로 만들어지는게 맞고, Retrolambda gradle plugin에 의해 다시 1.7버전 클래스로 재가공됩니다. (클래스 레벨에서 anonymous inner class로 코드 rewrite하는 것으로 압니다)

결과적으로 JDK7 기반의 안드로이드 디바이스에서 해당 프로그램을 돌리는데 아무런 문제가 없습니다.

[2015-10-28 16:25] hkjinlee commented on #20
@dusskapark http://bobplanet.kr/menu.html 에 서버에서 메뉴정보 불러오는 예제 페이지 만들어 뒀습니다. 동작에 특별한 문제는 없는데, 다음검색 API에서 가져온 이미지가 불펌으로 엑박 뜨는 이슈가 있네요.

사용한 라이브러리: http://handlebarsjs.com/

[2015-10-29 09:28] dusskapark commented on #20
Pin 했습니다. 학습하고 다음주 쯤 까지 뭔가 작성해 와야겠네요 ㅇㅇ @DoosikKim

2015년 10월 29일 (목) 오전 1:25, Jin, Heonkyu notifications@github.com님이 작성:

[2015-10-30 04:32] hkjinlee opened #31 "후니드 약식인터뷰 공유"
오늘 10층식당에서 품질개선 설문조사를 하고 있길래, 식당 점장님 인터뷰를 간략히 진행했습니다.
- 이용인원수
  - 통상 조식 80~90명, 점심 560~570명, 저녁 250~260명
- 메뉴에 대한 피드백이 많지 않아 이런 앱이 있다면 대환영임
- 후니드에서는 아예 앱을 납품해달라..는 요청도 하심
  - 다른 급식사업자(에버랜드, 신세계...)와의 차별화요인이 될 수 있음
  - 참고로, 후니드가 운영하는 식당은 60~70개소

11월 중반쯤 아마 런칭하게 될 것 같다는 정보는 전해드렸더니, 필요한 지원이나 데이터가 있으면 언제든지 말씀 달라고 하시네요 :)

[2015-10-30 04:59] dusskapark commented on #31
나중에 홍보용 영상을 하나 찍어야 하는데 후니드를 통해서 찍으면 될 것 같네요. 상세한 것은 고민해보겠습니다.

[2015-10-30 06:15] hkjinlee opened #32 "구글/페북/네이버 로그인버튼 노출순서 랜덤화"
- 네이버 로그인 추가
- 구글 / 페북 / 네이버 로그인 버튼의 노출 순서는 랜덤으로 지정
- 어떤 버튼배열에서 어떤 계정종류로 로그인 선택했는지를 GA에 저장

[2015-10-30 09:53] dusskapark opened #33 "jekyll 및 materializeCSS 개발환경 구축"
- [지킬 관련 참고](https://nolboo.github.io/blog/2013/10/15/free-blog-with-github-jekyll/)
- [materializeCSS](http://materializecss.com/)

관련 개발이 가능한 환경이 구축 및 카드를 화면에 띄워보는 것으로 진행할 것

[2015-10-31 01:39] hkjinlee commented on #32
f058dd837d081fa6a982ab4a74be071281eaafbb 에서 구현 완료.

[2015-10-31 01:41] hkjinlee commented on #32
버튼 배열순서는 GA에 전달안하고 있음. 구현 필요.

[2015-10-31 01:41] hkjinlee commented on #10
페이스북 및 네이버 로그인 구현 완료함.

[2015-10-31 01:41] #10 closed, assigned to nobody

[2015-10-31 01:42] #14 closed, assigned to nobody

[2015-10-31 01:44] hkjinlee opened #34 "초기로딩속도 개선을 위해 일간메뉴정보 캐싱. 평가정보만 다시 불러와야"
- 메뉴정보는 한번 정해지면 거의 변경되지 않으므로 하루 이상 캐싱.
- 평가정보만 더 짧은 주기로 불러오는 게 맞음

[2015-10-31 01:45] #30 closed, assigned to hkjinlee

[2015-10-31 01:46] hkjinlee commented on #9
앱 아이콘은 일단 이대로 클로징합니다. 페북이나 네이버 로그인쪽에도 아이콘 제출해야 해서, 이 이상 미루면 나중에 손볼 데가 많아짐.

[2015-10-31 01:46] #9 closed, assigned to dusskapark

[2015-10-31 02:49] hkjinlee commented on #29
구현 완료.

[2015-10-31 02:49] #29 closed, assigned to hkjinlee

[2015-10-31 02:51] hkjinlee commented on #7
기능구현 완료. (화면은 좀더 이쁘게 만들어야겠지만...)

[2015-10-31 02:51] #7 closed, assigned to nobody

[2015-10-31 04:15] hkjinlee opened #35 "스플래시 화면 추가"
- 현재 초기구동시간이 2초 정도 걸리니, 스플래시 화면을 띄워두고 필요한 초기화작업이 끝났을 때 전환하는게 낫겠음

[2015-10-31 05:18] #35 closed, assigned to hkjinlee

[2015-10-31 09:13] hkjinlee commented on #32
버튼 배열순서도 GA로 전달 완료.

[2015-10-31 09:13] #32 closed, assigned to hkjinlee

[2015-11-01 09:52] dusskapark commented on #33
https://github.com/polymorphic92/jekyll-Materialize

생각보다 이미 완성된 jekyll 테마를 materialize 로 수정하는 것이 쉽지는 않네요.
아예 걍 부트스트랩 기반으로 하는 것이 낫잖을까.. 생각중입니다.

[2015-11-01 10:32] hkjinlee commented on #33
@dusskapark 자기가 옳다고 생각하는 대로 하는 게 답이죠 :) 다만 요 며칠 사이 들었던 생각은
- 현재 제가 적용해둔 jekyll 테마를 계속 쓸 이유는 전혀 없고, 다른 걸로 대체해도 무방
- 다만, 기반기술을 무엇을 쓸 것이냐가 아니라 웹사이트의 전체 구성(제공기능, 메뉴구조)을 만드는게 중요합니다
- 저는 http://bobplanet.kr 의 역할은 정보제공이 우선이고, 기능은 나중이라고 판단.
  - 그렇게 봤을 때 [홈], [제품소개], [팀소개], [블로그(or 공지)] 정도가 핵심컨텐츠
  - [오늘의메뉴]는 제공하면 좋겠지만 여건상 안되면 나중에 개발
  - [다운로드링크], [이벤트] 등은 서브아이템이 맞지 않을까 합니다
  - [다운로드링크]는 [홈]에 들어가는 하나의 링크 수

[2015-11-01 10:55] dusskapark commented on #33
테마를 하나씩 머테리얼라이즈 규격으로 설정해보고 있습니다. 한 몇시간 만 더 투자를 해보고 결정을 하겠습니다 ^^

[2015-11-01 12:32] dusskapark commented on #26
안녕하세요 박주형 입니다.

현재 컬러코드가 정해진 것인지요?
일단 유사한 색으로 작업하고 있겠습니다.

[2015-11-01 12:44] hkjinlee commented on #26
@dusskapark 찌찌뽕! 지금 컬러코드 바꿔야하나 고민하고 있었는데요 :)

진석매니저가 낸 아이디어 중에서 '좋아요'는 초록색, '싫어요'는 붉은색은 차용하려고 해요. 이렇게 되면 visual cue로 '신호등'을 사용할 수 있게 되더군요. 대충 이런 느낌으로 만들어볼 생각:
http://www.shutterstock.com/pic-13236319/stock-vector-horizontal-traffic-light-variants-vector-illustration-isolated-on-white-background.html?src=6KOu0XlIoUKdI6onrqwtLg-1-3

그런데 이렇게 green / red를 써먹을 경우 key color code는 붉은 색 계열에서 벗어나는 게 나을 듯한

[2015-11-02 08:14] hkjinlee commented on #33
[Yeoman](http://yeoman.io/) 기반으로 사이트 만들어보는 것도 한번 검토해봅시다.

소개자료: http://www.slideshare.net/javarouka/introduce-yeoman?qid=f4d67f97-f599-44a3-bbe7-cd557c83bf06&v=qf1&b=&from_search=1

jekyll용 코드생성기도 이미 있습니다: https://github.com/robwierzbowski/generator-jekyllrb

[2015-11-03 05:28] dusskapark opened #36 "웹페이지 프로젝트"
일단은 웹사이트 제작 프로젝트의 새로운 브랜치를 만들어서 커밋했습니다.
- [깃허브 주소](https://github.com/bobplanet/bobplanet.github.io/tree/gh-pages)
- [참고사이트](http://materializecss.com/)

[2015-11-03 05:32] bigapple01 opened #37 "Facebook 광고 공유 필요하신 분은 이메일을 댓글로 달아주세요."
제곧내입니다.

[2015-11-03 05:33] bigapple01 opened #38 "광고용 이미지 촬영"
점심시간 or 저녁시간의 분주한 식당 줄을 촬영.

[2015-11-03 05:34] bigapple01 commented on #22
- 페북 광고 등록 (가라로) 완료.
- Pixel은 @dusskapark 님께 전달 완료.

[2015-11-03 06:49] hkjinlee commented on #37
heonkyu.jin@gmail.com

[2015-11-03 08:00] hkjinlee opened #39 "메뉴데이터 썸네일 개선"
엉뚱한 썸네일이 들어가있거나 썸네일이 아예 없는 식당메뉴에 대한 이미지 개선이 필요합니다.

1년 전까지의 메뉴를 모두 받아두었으니 대충 나올 만한 메뉴는 다 나왔다고 보고, 현재 데이터 기준으로 썸네일 보정작업 진행하시죠. 작업진행방안은 별도로 코멘트 달겠습니다. 최대한 손이 덜 가는 방법으로 해보죠.

[2015-11-03 08:08] bigapple01 commented on #39
메뉴명 정리(?)도 필요하지 않을까요?

[2015-11-03 08:12] hkjinlee commented on #39
@bigapple01 필요하다고 봐요. 다만 아까 @jinsueng 님과도 잠깐 의견 나눴는데, 먼저 서비스 런칭부터 한 다음에 데이터 merge하는 형태로 하는게 좀더 현실적이지 않을까 싶은 생각도 있습니다.

전체 메뉴 데이터를 한장의 HTML로 뽑아서 어딘가 올려둘 생각인데, 전체 목록 보면서 팀원들 의견을 모아보죠.

[2015-11-03 08:47] jinsueng commented on #39
앱내 메뉴썸네일을 살펴보니 2가지의 이슈가 있는 것 같습니다.
1. 사용하는 이미지 API의 정확성 - 이부분은 네이버외 무료 이미지 API를 검색해봤으나, 한글(한식) 이미지 검색은 현재 사용하고 있는 네이버 이미지 API가 제일 좋네요.
2. 이미지 검색시 쿼리 text 변경 - 오픈되어 있는 형태소 Library를 이용해서 일반명사(NNG)와 고유명사(NNP)를 분리하여, 일반명사만 이미지검색에 이용하는 것이 어떨까요? [eg)매콤소고기칼국수 = 매콤/NNP+소고기/NNG+칼국수/NNG --> '소고기칼국수'만 쿼리에 이용.] Java로 구현된 오픈 Library이 있습니다.  http://www.shineware.co.kr/?page_id=835 @hkjinlee 매니저님 썸네일 크롤링한 부분 git

[2015-11-03 08:55] hkjinlee commented on #39
@jinsueng 사실은 네이버 API에서 다음 API로 갈아탔습니다. 네이버 API의 경우 썸네일 말고 원본(=사이즈 큰) 이미지는 원본 URL 말고 자기네 서버를 경유하는 URL만 주는데, 이 URL이 API 호출시점부터 일정 시간이 지나면 expire되더군요. DB에 이미지 URL을 미리 저장해놓고 서비스하는 우리 같은 서비스에서는 쓰기 힘든 형태.

'매콤'을 제외하는 건 괜찮은데요? 다만 scraper는 Java가 아니라 R로 만들어져 있으니, 포스팅해주신 Java 라이브러리는 [rJava](https://cran.r-project.org/web/packages/rJava/index.html)를 쓰거나, 아니면 전희원 님의 [KoNLP](https://cran.r-project.org/web/pac

[2015-11-03 13:58] hkjinlee commented on #39
팀원 여러분!

https://docs.google.com/spreadsheets/d/17BS_HH-P059K1IHzFRj3aKa6T12Cn_hu1aVEHWTJhN8/edit?usp=sharing 에 현재 메뉴 이름과 이미지 올려두었습니다.

당장 "(뚝)날치알밥" 같은 경우 "(뚝)"은 없애야겠다는 생각이 드는데요, 한번 보시고 의견 주세요.

[2015-11-03 14:02] hkjinlee commented on #39
헐! "계란후라이"와 "계란후라이 "(뒤에 스페이스 있음)도 있군요!

[2015-11-04 09:19] dusskapark opened #40 "Jekyll 설정 및 블로그 구축"
아래와 같은 순서로 로컬환경을 만들어주시면 됩니다
1. 깃허브 체크아웃
   - bobplanet.github.io 프로젝트의 gh-pages 저장소를 체크아웃 합니다.
   - ![screen shot 2015-11-04 at 6 16 22 pm](https://cloud.githubusercontent.com/assets/4177529/10934011/446c1186-8320-11e5-9608-c6d3169a4e4d.png)
2. 아래 블로그를 참고해서 지킬을 설치하고, 체크아웃 받은 폴더에서 지킬을 실행합니다.
   - [참고 사이트: ](https://nolboo.github.io/blog/2013/10/15/free-blog-with-github-jekyll/)
   - `
     jekyll s

[2015-11-04 09:55] dusskapark commented on #33
역할 구분:
- 블로그 페이지 만들기 : @DoosikKim
- 홈/제품 소개/팀 소개 만들기 : @dusskapark

이렇게 역할을 나눴습니다.

[2015-11-05 04:59] dusskapark commented on #37
dusskapark@gmail.com

2015년 11월 3일 (화) 오후 3:49, Jin, Heonkyu notifications@github.com님이 작성:

[2015-11-05 05:00] dusskapark commented on #38
- 이미지는 본 게시판에 올려주세요.
- 하나는 와이드스크린 (16:9) 동영상으로도 부탁드립니다..^^

2015년 11월 3일 (화) 오후 2:33, bigapple01 notifications@github.com님이 작성:

[2015-11-05 05:02] dusskapark commented on #20
지난 화요일 플라랩에서 범위 정의가 완료됐습니다.

[2015-11-05 05:02] #20 closed, assigned to nobody

[2015-11-05 13:51] dusskapark opened #41 "Google Play 를 통한 Alpha rollout 기능 추가"
드랍박스를 통해서 APK를 배포하는 것이 보다는 Playstore를 통해서 진행하는 것이 낫다고 생각됩니다.

- 알파테스트 : 프로젝트 맴버들이 테스트
- 베타테스트 : 스토어 서비스/사업팀 구성원 위주로 테스트
- 롤아웃 : 공식 출시

괜찮다고 생각하시면, 퍼블릭키로 사이닝을 해서 전달을 해주시면 제가 등록하겠습니다.

[2015-11-07 07:44] hkjinlee commented on #39
​메뉴명 정리 로직 commit해두었습니다. 상세 로직은 [여기](https://github.com/bobplanet/Bobplanet-scraper/blob/ae280c9e39e42f515ae6cbd8a7d7dc4e4a923f47/lib/nameCleanser.R)를 확인하시면 됩니다.

그리고, 썸네일 정리 못하신 분들 @bigapple01 @sjs1178 @dusskapark @jhh7984 께서는 바쁘시겠지만 내일 점심 전까지는 완료 부탁드려요. 변경된 메뉴명을 실제 데이터에 반영할 때 썸네일도 함께 반영해야 일이 적어집니다.

[2015-11-07 11:34] dusskapark commented on #39
Docs에 있는 이미지를 제일 괜찮은 이미지만 남기고 삭제를 하면 될까요?

2015년 11월 7일 (토) 오후 4:44, Jin, Heonkyu notifications@github.com님이 작성:

[2015-11-07 11:36] hkjinlee commented on #39
맞습니다. 필터 해제하면 맨 윗줄에 instruction 있음. 끝나면 노티 부탁해요 :)
2015. 11. 7. 오후 8:34에 "Jude Park" notifications@github.com님이 작성:

[2015-11-08 12:35] dusskapark opened #42 "[app-web] Roll up리포트 만들기"
2개의 GA트랙킹 코드를 넣어서 구축하는 것으로 코드를 추가

[2015-11-08 12:51] dusskapark commented on #42
코드 추가했습니다.

[2015-11-08 12:52] dusskapark commented on #42
웹에서 PV가 발생하면 앱으로 보내도록 추가했습니다.

[2015-11-08 14:00] dusskapark opened #43 "Bob플래닛 GA계정에 권한 추가를 부탁드립니다."
- Behaviors > experiments 를 추가하고자 하는데, 권한이 없습니다.
- [구글애널리틱스_콘텐츠실험설정_가이드.pdf](https://github.com/bobplanet/Bobplanet/files/29503/_._.pdf)

[2015-11-08 14:02] hkjinlee commented on #43
권한설정 완료

[2015-11-08 14:02] #43 closed, assigned to hkjinlee

[2015-11-08 15:35] sjs1178 commented on #39
material design 가이드에 따라 color palette 설정 & BI 및 icon 작업 & 메인/드로어 이미지 가이드 잡아보았습니다.

https://ovenapp.io/project/FJfNxVz753MNai0wT3MYuKge9ek5FtY1#9wwXO

위 링크에서 확인가능하며, 공유비번은 1qazxsw2 입니다.

[2015-11-08 17:31] dusskapark opened #44 "[OVEN] 앱기획 및 디자인 가이드"
@sjs1178 매니저가 만든 가이드를 따로 이슈로 올립니다.

[2015-11-09 13:13] hkjinlee commented on #39
다들 바쁘시죠? 데이터 정리 더이상 미루기 어렵습니다. 메뉴데이터가 있어야 평가 및 코멘트기능 추가가 가능한데, 메뉴데이터 정리를 못하고 있어 코멘트 테스트에 다소간 제약이 있어요. 다들 마무리하시고 댓글 등으로 노티 주세요~

[2015-11-09 13:17] hkjinlee commented on #44
@sjs1178 어제밤에 봤습니다. 메일 드렸듯 조금 일찍 공유해주셨으면 좋았을텐데.. 저는 이미 토요일 오후에 다른 종류의 화면을 붙이기 시작했어요. 아래 스샷 참조.

![device-2015-11-09-221609](https://cloud.githubusercontent.com/assets/7744953/11034531/912ad68e-872f-11e5-8f9d-28191b1156ba.png)

[2015-11-09 14:14] dusskapark commented on #44
@진헌규 매니저님,

푸시 알림 스샷을 한장만 부탁드립니다.
이미지 작업에 쓸까.. 합니다^^

2015년 11월 9일 (월) 오후 10:17, Jin, Heonkyu notifications@github.com님이 작성:

[2015-11-09 14:40] hkjinlee commented on #44
@dusskapark 내일 점심때 데이터 복구하면 5시반 푸시가 정상동작할 겁니다. 그걸 쓰는 걸로 하죠. 지금은 클리앙 커밍아웃 사태로 기력 소진함.

[2015-11-09 14:58] sjs1178 commented on #44
@hkjinlee 저도 거의 실시간으로 보고있습니다. 고생많으시네요 ㅠㅠ

지난주말에 했던 밥플래닛 디자인은 대부분 눈치채셨겠지만, 사실 화면 자체의 전체 레이아웃보다는 컬러패턴잡고 BI 로고 & 전체 디자인 정책 정도를 잡는 작업을 했었습니다.
1. 식판 컨셉의 BI로고 디자인
2. deep orange 계열의 material design 색상패턴 선정
3. 컬러사용 정의 및 카드 모양(non-rounded) 설정

위 내용위주로 정해놓았던 터라, 새로 작업하신 화면에도 본 내용을 적용해서 프로토타입 다시 그려봤습니다. 보시고 적용하실 부분이 있으시면 세부 가이드를 다시 전달드리겠습니다.

<BI로고 디자인>
![bob_icon5](https://cloud.githubusercontent.com/asset

[2015-11-09 15:03] hkjinlee commented on #44
@sjs1178 흐흐.. 사실 스샷만으로는 잘 짐작이 안갈만한 게 하나 있는데, 아침메뉴 on/off를 붙였습니다. 일단 점심A-점심B-저녁 3개를 기본으로 가져가면 화면을 좀더 넓게 쓸 수 있겠더군요. (날짜를 actionbar로 올린 것도 같은 맥락)

아이콘은 @sjs1178 님이 고생해준 저 버전으로 가죠. 상세한 이야기는 내일 :)

그리고 지금 아침-점심-저녁 레이블은 아이콘으로 대체해보려고 해요. 컨셉은 대충 이런 모양:
https://dribbble.com/shots/1223012-Workout-Time-of-day-Icons

PS. 아, 그리고 회색 + 벽돌색 조합 괜찮네요.

[2015-11-09 16:22] dusskapark commented on #44
- 개인적인 의견은 진헌규 매니저님의 카드가 디자인하기 좀 더 편했습니다^^;;;;
- @sjs1178  매니저의 디자인이 이쁘다고 생각해서 도전을 해봤는데
  - 아이콘 위에 택스트가 올라가는 것, 반투명 레이어의 RWD 구현 등이 상대적으로 어렵네요.
  - 일단 웹에는 1번 디자인으로 유사하게 만들었습니다.

![screen shot 2015-11-10 at 1 18 26 am](https://cloud.githubusercontent.com/assets/4177529/11039006/0fc6f50e-8749-11e5-8728-7228a6332254.png)

[2015-11-09 16:29] dusskapark commented on #39
제 파트는 완료했습니다.

[2015-11-09 16:35] dusskapark commented on #41
APK 파일의 알파테스트 배포는 기능이 정말 강력하네요..
아이콘 등은 AB테스트를 해볼 수도 있을 것 같습니다.

![screen shot 2015-11-10 at 1 32 37 am](https://cloud.githubusercontent.com/assets/4177529/11039475/325e91b0-874b-11e5-8e9a-fa232ada38b9.png)
![screen shot 2015-11-10 at 1 33 40 am](https://cloud.githubusercontent.com/assets/4177529/11039474/325e5d62-874b-11e5-89e5-2b44619813da.png)

[2015-11-10 01:51] bigapple01 commented on #39
일요일에 끝냈습니다.

[2015-11-10 02:15] jinsueng commented on #39
저도 저번주에 완료하였습니다 :)

[2015-11-10 02:46] hoyoonjung commented on #39
저도 지난주에 끝냈습니다!

[2015-11-10 03:22] bigapple01 commented on #37
여기까지 추가 완료했습니다.

[2015-11-10 03:48] dusskapark opened #45 "웹사이트 드립 추가"
웹사이트에 필요한 드립을 올려주세요.

[2015-11-10 04:03] dusskapark opened #46 "스토어 등록정보 만들기"
- Google play 기준으로 스토어 등록 정보를 만들는 프로젝트

[2015-11-10 04:04] dusskapark opened #47 "회식 일정 공지"
- 2015년 11월 17일 저녁
- 강씨네 오리고기 (판교점)

[2015-11-10 10:45] hkjinlee commented on #39
@jhh7984 응답 없으시니 제가 해버립니다. 멤버에서 빼버려야지... :)

[2015-11-11 05:27] jhh7984 commented on #39
늦었네요. 죄송합니다. 일단,헌규M께서 셀렉작업은 하셨길래, 검토후에 일부 누락분과 수정할 이미지 체크해서 링크 add/modify 했습니다. (N열에 '수정'으로 표기). 그리고 하는김에 다른분들담당분량에서도 이미지 링크가 비어있던 null (0) 셀에 대해서도 이미지 검색해서 링크 add 했습니다. (마찬가지로 N열에 '수정'으로 표기)

[2015-11-12 08:50] bigapple01 commented on #45
일하다가 한 번! 엘베타기 전에 또 한 번!

[2015-11-12 08:51] bigapple01 commented on #45
밥플래닛이 오늘의 식단을 보내주기 전에는, 그는 다만 하나의 꼬치우동에 지나지 않았다. (꼬치우동 RIP)

[2015-11-12 08:52] bigapple01 commented on #45
10층 식당 앞에 선 후에야 '아뿔싸! 이건 좀 그렇네!'라며 매점과 편의점으로 발을 돌려본 적이 있으신가요? 이젠 미리미리 확인하시고 당신의 귀한 시간을 아끼세요.

[2015-11-12 08:54] bigapple01 commented on #45
말하지 않아도 알아요...라니, 세상에 그런 거 없습니다. 당신의 소중한 의견을 '눌러'주세요. 당신의 메뉴 평가가 후니드에 전달됩니다.

[2015-11-12 08:55] dusskapark commented on #45
우어.. 푸시가 밀려온닼ㅋㅋㅋ

2015년 11월 12일 (목) 오후 5:54, bigapple01 notifications@github.com님이 작성:

[2015-11-12 08:56] bigapple01 commented on #45
"맛없는 메뉴를 먹으면 혼이 비정상"

[2015-11-12 08:56] bigapple01 commented on #45
"메뉴를 미리 보면 그런 기운이 온다"

[2015-11-12 08:58] bigapple01 commented on #45
I. BOB. U
밥과 나의 연결고리. BOBPlanet.

나머지는 10층에서 먹어가며 영감을 얻어보겠읍니다...

[2015-11-12 09:24] hkjinlee opened #48 "Beacon 기반 메뉴평가 노티"
구글 아저씨들이 올해 7월에 "[Eddystone](https://github.com/google/eddystone)"이란 이름의 Beacon 규격을 공개했는데, 리눅스 PC에 블루투스 BLE 동글을 끼우면 이걸 비콘으로 만들 수 있습니다. 라스베리파이에 리눅스를 깔 수 있으니, 아주 작은 사이즈의 비콘을 만들 수 있다는 뜻.

요즘 스트레스 받은 홧김에 오늘 블루투스 동글은 주문했고, 1.0 런칭하고 난 뒤에 10층 식당 메뉴평가용 TV 위에 비콘 올려 밥먹고 나가는 사람들에게 메뉴평가 알림 노티를 보내보면 재밌겠죠? :)

[2015-11-12 10:53] dusskapark opened #49 "웹사이트 버그모음"
![screen shot 2015-11-12 at 7 51 19 pm](https://cloud.githubusercontent.com/assets/4177529/11116581/de46171e-8976-11e5-9e09-5898c223708d.png)
- 웹사이트 코드를 클론하면 계속해서 밥플래닛 소개 md 파일이 뜨는 중;;

[2015-11-12 10:54] dusskapark commented on #49
@DoosikKim 매니저님, 동일한 문제가 혹시 발생하나요?

[2015-11-12 10:55] dusskapark commented on #26
OVEN을 활용하는 다른 일감이 있어서 본 일감을 마감합니다.

[2015-11-12 10:55] #26 closed, assigned to sjs1178

[2015-11-12 13:43] hkjinlee commented on #39
작업내용 서버에 반영 시작했습니다. 1시간 안으로는 작업 끝날 듯.

[2015-11-12 14:31] hkjinlee commented on #39
대충 완료. 아직 19개 메뉴는 적합한 이미지가 없네요.

[2015-11-12 14:46] hkjinlee commented on #39
지난 주말에 죽여놨던 배치 돌려서 이번주 메뉴데이터도 업데이트 완료. 이슈 클로징합니다.

[2015-11-12 14:46] #39 closed, assigned to nobody

[2015-11-12 14:47] hkjinlee commented on #47
아.. 밖에서 먹는 건가요? 왠지 런칭파티라고 3층 회의실 하나 잡아놓고 치맥 먹으면서 런칭하는 이미지를 상상했었는데 말이죠 :)

[2015-11-12 14:50] hkjinlee commented on #38
내일은 촬영해야 실제 활용가능할 것 같네요.
@jhh7984 님과 @bigapple01 님께서 꼭 챙겨주시기 바랍니다.

[2015-11-12 14:51] hkjinlee commented on #12
#48 이슈로 갈음합니다. Wifi SSID보다는 비콘이 좀더 정확할 듯.

[2015-11-12 14:51] #12 closed, assigned to nobody

[2015-11-12 14:55] hkjinlee commented on #34
작업 시작합니다.

[2015-11-12 14:58] hkjinlee commented on #23
2.0 기능으로 분류합니다. 화면에서 관련 아이콘도 제거하겠음.

[2015-11-12 15:15] hkjinlee commented on #41
알파테스트 등록은 해놨습니다. @dusskapark 님께 관리권한 드렸으니 잘해보세요 :)

[2015-11-12 15:34] hkjinlee opened #50 "홈페이지에 '개인정보취급방침' 추가"
개인정보취급방침 페이지 하나 추가해 둡시다.
내용은 대략 이렇게 해주시면 됨:

밥플래닛 개인정보취급방침
## 수집하는 개인정보
- 밥플래닛 앱은 최초실행시 난수 UUID를 생성하여 이용자의 기기 식별자로 삼습니다. 이 UUID는 난수로 생성되므로, 이 자체만으로는 이용자에 대해 아무 것도 알 수 없습니다.
- 메뉴 평가 등 로그인이 필요한 기능을 이용하시려는 이용자에 대해서는 또다른 UUID를 생성하여 이용자의 회원 식별자로 삼습니다. 이 UUID 역시 난수로 생성되므로, 이 자체만으로는 이용자에 대해 아무 것도 알 수 없습니다.
- 이용자께서는 구글ID, 페이스북ID, 네이버ID를 이용해 밥플래닛에 로그인하실 수 있습니다. 이 때, 밥플래닛이 수집하는 개인정보는 다음과 같습니다: 각 서비스의 내부회원번

[2015-11-13 01:44] bigapple01 commented on #38
오늘 점심에 이미지 촬영하겠습니다.

[2015-11-13 04:45] dusskapark commented on #41
@hkjinlee 매니저님, @bigapple01 매니저님께도 권한을 부여해주시기 바랍니다 ^^ (상품 설명 등을 만들어야 해서요 ^^)

[2015-11-13 04:45] bigapple01 commented on #38
https://www.dropbox.com/s/0jrxkmsbyrmxx9u/20151113_114727.jpg?dl=0
https://www.dropbox.com/s/4nsww1hkleecjvc/20151113_114753.jpg?dl=0
https://www.dropbox.com/s/ok0wz03ht211w5n/20151113_114805.jpg?dl=0
https://www.dropbox.com/s/9w2uk1yrza18j23/20151113_114828.jpg?dl=0

네 장 건졌는데, 어두워서인지 기대만큼 잘 나오진 않았습니다;; 저녁에 다시 해보든가 해야겠어요.

[2015-11-13 04:47] dusskapark commented on #50
블로그 쪽에 작성을 하도록 하겠습니다.

[2015-11-13 04:57] hkjinlee commented on #50
블로그로 따면 URL이 http://bobplanet.kr/blog/2015-11-13 이런 식으로 나오게 되니 페이지를 하나 따로 따주시면 좋겠습니다. http://bobplanet.kr/privacy/ 가 되도록이요.

[2015-11-13 05:01] hkjinlee commented on #38
아무래도 오늘 날씨가 어둑어둑해서 사진 건지긴 쉽지 않았겠네요. 고생하셨어요.
초상권 이슈 가능성이 높지 않고 줄이 길~어 보이는 2번째 아니면 3번째 사진을 썼으면 합니다.

@dusskapark 이거 홈페이지에 어떻게 넣으면 좋을까요?

[2015-11-13 05:02] hkjinlee commented on #41
권한부여드렸습니다. 그런데 권한이 문제가 아니라 실제 아이콘이나 스크린샷 같은 리소스가 문제겠는데요? 어디 공용 드랍박스 같은걸 하나 만들어야 할 것 같음.

[2015-11-13 06:22] dusskapark opened #51 "API 확인 가능한 주소"
안녕하세요.

기존에 확인 가능하던 API 주소가 현재는 작동하지 않는 것 같아서 일감을 등록합니다.
- [기존 API확인 url](https://apis-explorer.appspot.com/apis-explorer/?base=https://1-dot-kr-bobplanet.appspot.com/_ah/api#s/bobplanetApi/v1/)

[2015-11-13 06:31] hkjinlee commented on #51
API Explorer가 동작하지 않는건가요? 아니면 API를 호출의 결과값이 이상한가요?

[2015-11-13 07:14] dusskapark commented on #51
Explorer 제대로 동작하지 않습니다. 접속하면 API목록 페이지로 이동하지 않습니다. ㅠ

2015년 11월 13일 (금) 오후 3:31, Jin, Heonkyu notifications@github.com님이 작성:

[2015-11-13 07:56] hkjinlee commented on #51
구글이 API explorer 도메인을 바꿨던데(developer.google.com 아래로) 그 영향인 듯하네요.
방법 찾아볼께요!

[2015-11-13 08:01] hkjinlee commented on #51
구글 버그인 듯? 지금 다시 아래 주소로 접속해보세요.
https://apis-explorer.appspot.com/apis-explorer/?base=https://1-dot-kr-bobplanet.appspot.com/_ah/api#s/bobplanetApi/v1/

[2015-11-13 08:46] dusskapark commented on #51
헉.. 다시 정상적으로 나옵니다..

2015년 11월 13일 (금) 오후 5:01, Jin, Heonkyu notifications@github.com님이 작성:

[2015-11-13 08:50] dusskapark commented on #38
parallax 로 구성된 화면에 쓰면 좋을 것 같습니다.
배경으로 쓸 수 있도록 약간 어두운 필터를 적용해서 쓰겠습니다.

2015년 11월 13일 (금) 오후 2:01, Jin, Heonkyu notifications@github.com님이 작성:

[2015-11-13 08:52] dusskapark commented on #47
밖에서 먹는 것이 낫잖을까.. 해서요.
점심과 저녁을 모두 같이 먹는 것으로 생각하시면 될 것 같습니다 ^^;
아니면 맥주콜 같은 곳을 가서 밥은 피자를 시키고, 맥주를 빨까요?

2015년 11월 12일 (목) 오후 11:47, Jin, Heonkyu notifications@github.com님이 작성:

[2015-11-14 03:47] hkjinlee commented on #51
클로징합니다

[2015-11-14 03:47] #51 closed, assigned to hkjinlee

[2015-11-14 14:55] #34 closed, assigned to hkjinlee

[2015-11-14 14:56] hkjinlee commented on #4
1d67542 로 해결

[2015-11-14 14:56] #4 closed, assigned to nobody

[2015-11-14 15:09] #3 closed, assigned to nobody

[2015-11-15 00:35] hkjinlee opened #52 "GA 데이터 점검"
점검포인트
- 앱
  - 화면이벤트: Activity, Fragment, Dialog => 이름이 너무 길다. 앞쪽 패키지 이름 제거 필요 => 완료.
  - 로그인이벤트
  - 동작속도: 데이터 올라오지 않고 있음. 확인 필요. => 수정 완료. label은 옵션이고 variable이 필수였음
  - 구글플레이 연결: 완료
- 웹
- 앱 > 웹
  - 잠시 사라져있던 사용자 추적코드 반영 완료

[2015-11-15 01:19] hkjinlee opened #53 "네트웤 오류 발생한 경우 에러메시지 표시"
냉무

[2015-11-15 02:05] hkjinlee commented on #42
rollup을 다이렉트로 app으로 보내는건 좀 이상해보이는데요. (이렇게 되면 app PV에 web이 그냥 더해짐)
rollup용 코드를 따로 따고 app과 web 양쪽에서 이쪽으로 보내는게 맞지 않나요?

[2015-11-15 02:19] hkjinlee commented on #49
@dusskapark 님께는 금요일에 말씀드렸지만 한글파일명의 유니코드 이슈 때문에 생긴 문제입니다. 처음에 '밥플래닛 소개' 파일을 제가 커밋했는데, 어떤 이유에선지 나중에 @dusskapark 님이 'ㅂㅏㅂㅍㅡㄹㄹㅐㄴㅣㅅ' 파일을 커밋하시게 됐더군요. 이건 OS/X에서의 한글 유니코드 presentation 이슈임.

[2015-11-15 02:24] hkjinlee opened #54 "웹페이지 CSS 조정"
H1이 너무 크네요. CSS 도입이 굉장히 많은 손을 요하는 건 알고 있지만, 빨리 손봐주셔야 할 듯.
![screenshot_2015-11-15-11-22-33](https://cloud.githubusercontent.com/assets/7744953/11166823/4cc8f060-8b8b-11e5-87eb-97771cb8a196.png)

[2015-11-15 02:55] hkjinlee commented on #50
일단 개발 완료. 본문은 향후 업데이트하기로 함.

[2015-11-15 02:55] #50 closed, assigned to dusskapark

[2015-11-15 09:57] hkjinlee commented on #41
알파버전 업로드 완료. 앞으로 몇 시간 안에 아래 URL에서 받아볼 수 있을 겁니다.
https://play.google.com/apps/testing/kr.bobplanet.android

[2015-11-15 11:04] dusskapark commented on #41
수고하셨습니다^^

2015년 11월 15일 (일) 오후 6:57, Jin, Heonkyu notifications@github.com님이 작성:

[2015-11-15 11:24] hkjinlee commented on #41
운동하고 왔더니 떴네요. 다들 위 주소에 접속해서 APK 받으시면 됩니다.
![2015-11-15 8 21 23](https://cloud.githubusercontent.com/assets/7744953/11168550/8bc663a6-8bd6-11e5-8f41-f35cf1fe41a8.png)

[2015-11-15 17:28] dusskapark commented on #36
매우매우 디자인이 마음에 안들지만.. 일단은 작업한 디자인을 커밋했습니다.

[2015-11-15 17:28] #36 closed, assigned to dusskapark

[2015-11-15 17:29] dusskapark commented on #33
매우매우 디자인이 마음에 안들지만.. 일단은 작업한 디자인을 커밋했습니다

[2015-11-15 17:29] #33 closed, assigned to dusskapark

[2015-11-15 17:29] #49 closed, assigned to nobody

[2015-11-15 17:32] dusskapark commented on #54
![screen shot 2015-11-16 at 2 31 02 am](https://cloud.githubusercontent.com/assets/4177529/11169979/20a6cea6-8c0a-11e5-9616-a5353208a53d.png)

디자인에 재능이 없다는 것을 느끼는 주말이었습니다..
디자인이 매우매우 마음에 안들지만.. 일단은 수정을 했습니다.
차차.. 개선해보겠습니다.

[2015-11-15 17:32] #54 closed, assigned to dusskapark

[2015-11-15 17:32] #40 closed, assigned to DoosikKim

[2015-11-15 22:35] hkjinlee commented on #54
커밋로그 보니 Disqus도 다셨네요? 정말 고생 많으셨음!

[2015-11-16 02:01] dusskapark commented on #54
버전 2.0에서는 디자인도 좀 손을 봤으면 합니다. ㅠ

2015년 11월 16일 (월) 오전 7:35, Jin, Heonkyu notifications@github.com님이 작성:

[2015-11-16 07:14] dusskapark opened #55 "본문 CSS 수정작업"
- list style이 none으로 표시됨
- code highlighter  적용하기

[2015-11-16 07:38] dusskapark commented on #55
code highlighter 적용함

[2015-11-16 07:39] dusskapark commented on #52
내일 한번 모여서 리뷰를 하면 좋을 것 같습니다.
비슷하게 페이스북 픽셀을 웹에 적용하는 것도 내일까지 진행하겠습니다.

2015년 11월 15일 (일) 오전 9:35, Jin, Heonkyu notifications@github.com님이 작성:

[2015-11-16 07:42] dusskapark opened #56 "페이스북 픽셀 적용"
냉무

[2015-11-16 11:23] dusskapark commented on #42
넵, 웹 / 앱 / 롤업 이렇게 3개의 코드를 따서 쓰는 것이 맞을 것 같습니다.

그런데 커밋해주신 것을 보니깐 GA설정 부분이 약간 바뀌었네요? 이제 봤습니다 ^^;
2015년 11월 15일 (일) 오전 11:05, Jin, Heonkyu notifications@github.com님이 작성:

[2015-11-16 11:24] dusskapark opened #57 "웹사이트 이미지 전면교체"
임시로 들어간 이미지를 새로운 이미지로 대체합니다.

[2015-11-16 11:27] hkjinlee commented on #42
#52 에서 언급했듯, 앱에서 webview로 띄우는 웹 트래픽을 일관된 기준으로 측정하려고 그렇게 바꿨습니다.
다만 앱에서 올라가는 트래픽에 아직 userId를 안붙인게 함정;;;

[2015-11-16 14:21] dusskapark opened #58 "어제 메뉴, 내일 메뉴 버튼 활성화"
- 버튼 클릭시 이전 / 이후 메뉴를 확인하기 기능 추가
- 비동기 방식으로 적용

[2015-11-16 17:11] dusskapark commented on #58
커밋 했습니다.

[2015-11-16 17:11] #58 closed, assigned to dusskapark

[2015-11-16 17:12] dusskapark opened #59 "매뉴명의 이미지가 깨지는 문제 해결"
웹사이트에 매뉴를 보여주는 화면에서 이미지가 깨지는 문제를.. 어떻게 해결해야 할까요..

[2015-11-16 17:16] dusskapark commented on #59
@hkjinlee 매니저님, 서버에서 이미지 url 에서 확장자 뒤의 parameter를 모두 삭제하고 API를 발행해주실 수 있을까요?

[2015-11-17 03:30] jhh7984 commented on #38
<밥플래닛> 10층 식당에서 기다리고 있는 사진입니다. 사람도 많고 초상권 이슈도 없어보이긴 합니다만,,적정할지는 아래 링크에서 참고 부탁 드립니다.

https://www.dropbox.com/s/l8at7n5wdf0xlnn/%EB%B0%A5%ED%94%8C%EB%9E%98%EB%8B%9B_waiting.jpg?dl=0

[2015-11-17 05:09] hkjinlee opened #60 "베타버전 런칭 준비"
오늘 저녁에 회식하면서 아래 역할을 어떻게 나누어맡을지 얘기해보시죠.
- 블로그 저널리스트
- 후니드 채널: 인터뷰도 담당
- 스토어 앱관리자
- 비콘 품질 관리자

[2015-11-17 09:04] dusskapark commented on #59
thumbnail을 적용해서 해결했습니다.

[2015-11-17 09:04] #59 closed, assigned to nobody

[2015-11-17 09:04] dusskapark commented on #57
교체 완료했습니다.

[2015-11-17 09:04] #57 closed, assigned to dusskapark

[2015-11-17 14:33] hkjinlee commented on #60
저녁 회식시간에 정해진 각자의 역할을 알려드립니다:

블로그 저널리스트&홈페이지 관리: @bigapple01
스토어 앱관리: @hoyoonjung
비콘 품질 관리&데이터분석: @jinsueng
후니드채널&이벤트기획: @jhh7984
마케팅&디자인(동영상/이미지포함): @sjs1178
iOS개발: @DoosikKim
홈페이지개발: @dusskapark
앱개발: @hkjinlee

그리고 프로젝트 외연확장 및 앱스토어 개발자회비 충당을 위해 추가멤버를 모집하기로 했습니다. 각자 한명씩 모셔오기로.

[2015-11-17 14:44] hkjinlee commented on #52
@jinsueng 빠진내용은 없는지 한번 봐주세요. 특별히 잘못된 게 없으면 이슈 클로징하시면 됩니다.

[2015-11-17 14:45] hkjinlee commented on #55
오늘 말씀드린 두가지 잊지 않으셨죠?
1. 모바일버전 좌우여백 조정(이라 쓰고 줄이기라 읽음)
2. h2~h3 색상 조정

[2015-11-18 01:39] jinsueng commented on #52
화면 데이터는 확인하였고, 로그인 이벤트는 이미 제가 소셜 로그인하여서 별도 확인 못하였습니다.
웹은 오픈이후에 이벤트 추가해야 될것으로 판단되네요.
오픈이후에 개선점 다시 issue생성하겠습니다. 감사합니다~

[2015-11-18 01:39] #52 closed, assigned to jinsueng

[2015-11-18 06:10] dusskapark commented on #55
# 좌우 간격을 줄였습니다.
- ![screen shot 2015-11-18 at 2 43 19 pm](https://cloud.githubusercontent.com/assets/4177529/11233605/bdc6153a-8e02-11e5-9819-b94bd9e55eae.png)
- ![screen shot 2015-11-18 at 2 43 24 pm](https://cloud.githubusercontent.com/assets/4177529/11233604/bdc58516-8e02-11e5-88d2-e0e214a230dc.png)

# H1 - H4 까지 색상을 줬습니다.

![screen shot 2015-11-18 at 2 42 16 pm](https://cloud.githubusercontent

[2015-11-18 06:11] dusskapark commented on #55
ul li ol li의 list style도 적용완료 했습니다.

[2015-11-18 07:32] dusskapark commented on #47
잘 먹고 마셨습니다 :)

![img_0765](https://cloud.githubusercontent.com/assets/4177529/11235123/eee76330-8e11-11e5-9e42-093ec55dd8ae.JPG)

[2015-11-18 07:32] #47 closed, assigned to dusskapark

[2015-11-18 08:00] dusskapark commented on #55
요 디자인 일감은 종료 없이 계속 유지하겠습니다.
@bigapple01  매니저님, 본문에 필요한 디자인이 있는 경우에는 여기다가 댓글로 알려주세요.

[2015-11-18 08:04] dusskapark commented on #60
iOS 프로젝트를 하나 새로 파야할 것 같습니다.

최은지 매니저(@happifyus )가 팀원으로 합류 했습니다.

[2015-11-18 08:44] #41 closed, assigned to dusskapark

[2015-11-18 09:37] hkjinlee commented on #60
방금 베타버전 구글플레이에 올렸습니다. 오픈베타로 되어있고, 아래 URL에 접속해서 '테스트신청'을 해주시면 그 뒤부터는 구글플레이에서 일반 앱과 동일하게 설치/업그레이드 가능.
https://play.google.com/apps/testing/kr.bobplanet.android

오늘밤에 drawer menu까지 구현해서 T스토어 검증요청 들어갈 예정.

[2015-11-18 09:40] dusskapark commented on #60
우선검증으로 준비를 할까요?

2015년 11월 18일 (수) 오후 6:37, Jin, Heonkyu notifications@github.com님이 작성:

[2015-11-18 09:44] hkjinlee commented on #60
아뇨 뭐 우선검증까지. 오늘 밤에 개발을 끝낼 수 있을지 없을지도 아직 모름

[2015-11-18 09:58] dusskapark opened #61 "(사골국물 프로젝트) PUNCH 발표"
펀치에서 발표를 하게 됐습니다.
주제는 **생활코딩 플라랩** 에 대해서 발표를 해야하는데, 아무래도 이 길에 ++**밥플래닛을 팔아먹는 것**++이 가장 좋을 것 같습니다. 아예 이번 기회에 밥 플래닛을 구성원 모두가 사골국물처럼 우려먹으면서 썰을 풀어먹을 수 있도록 레전드 키노트를 하나 만들어 둘까.. 합니다.

피티 아이디어를 굽신굽신..

[2015-11-18 10:41] dusskapark opened #62 "facebook open graph가 잘 작동하지 않는 문제"
메인페이지는 그나마 작동은 하는데,
블로그 페이지 등은 아예 동작을 하지 않네요.
http://bobplanet.kr/blog/2015/11/17/beta-feedback.html

무엇이 문제일지는 한번 찾아봐야할 것 같습니다.

[2015-11-18 16:46] hkjinlee commented on #60
- 신규버전 1차 개발완료: DrawerMenu 추가함. 아직 로그인한 사용자 identity를 보여주는 기능은 없음
- 해당 바이너리 국을놀이장터 베타등록 및 T장터 검증요청 완료함

[2015-11-19 00:45] hkjinlee commented on #61
PT는 역시 스토리텔링이 핵심이죠. Google Hackfair에 냈던 아래 스토리라인 추천함.

[2015-11-19 02:13] dusskapark commented on #61
# HR팀과 회의
- 12월 16일 (거의 확정)
- 강의료 5만원 << 커피나 먹죠?
- 후니드 인터뷰 지원도 가능하도고 함
- 14일까지 발표자료 마감 15일에 리허설 예정
- 11월 말까지 타이틀을 뽑아서 전달할 예정

# HR팀에서 요청한 것
- 플라랩을 시작하게된 계기
- 프로젝트 결과물 소개
- 배운 점

# HR에서 지원을 받을 수 있는 것
- 사전 공지도 가능함 (앱을 깔고 오세요 등등)
  - 사전 예약페이지를 하나 만들까요?
- HR에서 이벤트용 상품을 지원 받을 수 있음

[2015-11-19 02:23] dusskapark commented on #61
사진 제공도 요청 받았네요.
구글에 제출했던 사진을 욹어 먹어야 겠네요

[2015-11-19 03:13] raphael-shin opened #63 "제품 개선을 위해서 PR 시스템을 제안합니다."
`Pull Request` 방식은 GitHub의 강력한 기능입니다.
실제 Open Source 프로젝트 진행처럼 Pull Request 로 소스코드 개선(수정)을 하는 방향은 어떤지요?

[2015-11-19 03:42] raphael-shin commented on #63
예시로 https://github.com/bobplanet/Bobplanet/pull/64 하나 PR 했습니다.

[2015-11-19 04:16] hkjinlee commented on #63
@jungseob86 님 반갑습니다 :)
PR을 쓰지않을 이유가 하나도 없지요. 다만 commit log 보면 아시겠지만 지금까지 개발은 사실상 저 혼자의 job이고, 따라서 굳이 PR까지 써야겠다는 생각이 들지 않은 것 뿐입니다.

사실 안드로이드 개발도 처음, Github 사용도 사실상 처음이라 잘 몰라서 그런 것도 있습니다. PR을 날려본적은 있지만 merge해본 적은 없으니 '미지의 것'에 대한 두려움이 없다고 하면 거짓말이겠죠.

어쨌든, 첫 PR 감사드립니다. 내용 훑어보고 바로 merge할께요.

[2015-11-19 04:21] hkjinlee opened #65 "푸시메시지에 대한 성과측정 scheme 적용"
- 서버에서 푸쉬 발송할 때 푸쉬메시지 ID 부여 및 발송건수를 GA로 전송 (measurement protocol 사용)
- 클라이언트는 푸쉬 수신시 관련 이벤트를 GA로 전송
  - 1차 conversion rate: 클라이언트의 수신율
- 푸쉬가 만들어낸 notification 클릭시 이 역시 GA로 전송
  - 2차 conversion rate: 푸쉬 확인율
- 위 두가지 conversion rate를 실제로 계산할 수 있는 scheme과 로직 구현 진행

[2015-11-19 04:27] raphael-shin commented on #63
@hkjinlee 재밌는 프로젝트인 것 같습니다 :)
혼자서 개발하고 있으셨다니 정말 대단하세요!

[2015-11-19 04:29] dusskapark commented on #63
@jungseob86 이 프로젝트에 합류했습니다.

@hkjinlee 매니저님, 잡포지션 하나 끌올... 해야할 것 같습니다. ^^

[2015-11-19 04:34] hkjinlee opened #66 "NFC 스티커 제작/부착에 대하여"
11번가에서 주문한 NFC 스티커가 왔습니다. 바로 이 제품:
http://www.11st.co.kr/product/SellerProductDetail.tmall?method=getSellerProductDetail&prdNo=1146897558

10층 식당 출구 TV 앞 테이블에 NFC 스티커를 붙여두고 각각 T스토어, 구글플레이스토어 다운로드 링크를 넣어서 사우들이 손쉽게 앱을 설치할 수 있도록 할 생각인데.. 이거 해보실 분?

업무연관도를 보면 @jhh7984 님이나 @jinsueng 님이 맡아주시면 좋겠네요.

[2015-11-19 04:44] raphael-shin commented on #63
@hkjinlee PR을 다시 날리려고 합니다. 제가 실수한게 있네요. 브랜치를 안따고 바로 master 에서 PR을 날렸습니다; 일단, 이슈 종료하고 PR 다시 날리겠습니다.

[2015-11-19 04:44] #63 closed, assigned to nobody

[2015-11-19 04:50] hkjinlee commented on #63
PR 날려주실 때 gitignore 안에 secrets.properties가 빠지지 않게 해주세요 :) 외부에 공개되면 조금 곤란한 API키 등의 내용을 담고 있는 파일입니다.

[2015-11-19 05:01] raphael-shin commented on #63
@hkjinlee 네 알겠습니다 :)

[2015-11-19 05:32] raphael-shin commented on #56
와 픽셀까지 적용을!

[2015-11-19 06:06] dusskapark commented on #56
아직 액션을 어떤 것을 해야할지 몰라서 정의를 못하고 있습니다. 일단은 다운로드 웹페이지에 적용을 해볼까 하는 중입니다.

2015년 11월 19일 (목) 오후 2:32, Jungseob Shin notifications@github.com님이 작성:

[2015-11-19 06:07] bigapple01 opened #68 "팀 소개에 들어갈 문구 정리"
팀 소개에 들어갈 문구가 필요합니다.
- 팀원 소개
- 개발스펙(?) 소개
- 그 외에 남기고 싶은 말 등등

문구를 댓글로 달아주세요. 팀원 소개를 안 써주시면 제가 평소 인상대로(...) 채워버릴거에요.

[2015-11-19 06:08] bigapple01 commented on #56
@dusskapark 특정 액션에 픽셀 다는 법 혹시 찾으셨습니까...? (엉엉)

[2015-11-19 06:10] bigapple01 commented on #61
후니드 식사권을 받아서 => PUNCH 때 이벤트 안내 => 이후 이벤트 경품으로 써먹음... 도 방법이겠군요. '이런다고 누가 BOB먹여주...네?' 정도의 이름으로...

[2015-11-19 07:54] dusskapark commented on #61
@bigapple01 이런다고 누가 밥먹여주...네 << 요걸로 발표 제목을 해볼까요? ㅎㅎ

[2015-11-19 07:57] dusskapark commented on #68
잘.. 써주세요.. ㅠ

2015년 11월 19일 (목) 오후 3:07, bigapple01 notifications@github.com님이 작성:

[2015-11-19 07:59] dusskapark commented on #68
사원증 사진을 넣어야 할까요? http://plabox.skplanet.com 에 사번을 검색하면 나오기는 하는데.. 흠

2015년 11월 19일 (목) 오후 4:57, Jude Park dusskapark@gmail.com님이 작성:

[2015-11-19 09:00] hkjinlee commented on #68
사진은 각자가 원하는 걸로 하는게 좋겠죠.

진헌규 (http://kr.linkedin.com/in/HeonkyuJin)
- 밥플래닛 founder. 아쌈 홍차와 살짝볶은 커피를 사랑하는 [썬데이 프로그래머](https://github.com/bobplanet/Bobplanet/graphs/punch-card).
- 회사에서 하는 일: T스토어 사업제휴 및 데이터분석
- 첫 안드로이드 개발인데 프로젝트가 너무 커져 심히 당황하는 중
- 15년 회사생활 뒤에 본인지향이 마케터였음을 뒤늦게 깨닫고, 코딩하는 마케터로 변신노력

"간단한 서비스 하나 만들어 운영하면서 실전기반 사용자 행동분석 frame을 잡고, 그걸 T스토어에 적용해보자고 시작한 프로젝트였는데, 어느새 푸쉬알림도 만들고 후니드 인터뷰도 하고 식단

[2015-11-19 09:09] hkjinlee commented on #60
T스토어 검증반려 먹었습니다. 이슈 재오픈함.

[2015-11-19 09:42] raphael-shin commented on #68
신정섭(https://www.facebook.com/jungseob.shin)
- 막 합류한 SK planet 개발자.
- 회사에서 시키는 대로 개발했더니 겉모양만 풀스택
  - T store ARM 서버 개발
  - WISHPOCKET 안드로이드 클라이언트 개발
  - WISHPOCKET API 서버 개발
  - VOLO API 서버 개발
- 재미있는 사내 프로젝트에 합류하게 되서 정말 기쁩니다!
  `디자인도하는 풀스택 개발자`를 꿈꾸면서 Sketch에 대해서 관심을 갖는 중입니다.

[2015-11-19 10:10] hkjinlee commented on #60
검증반려사유가 정확하네요. 검증팀 고생많으시네요.
- 검증반려사유: DrawerMenu에서 '오픈소스라이선스'를 누르면 '개인정보취급방침'이 뜸
  (실제로 그렇습니다. 음주코딩의 한계...)

오늘 수정해서 재검증요청 들어갑니다

[2015-11-19 10:21] dusskapark commented on #68
2015년 11월 19일 (목) 오후 6:42, Jungseob Shin notifications@github.com님이 작성:

[2015-11-19 10:40] dusskapark commented on #62
@jungseob86 매니저님

open graph가 잘 작동하지 않는 문제가 좀 있습니다.
예를 들어 http://bobplanet.kr/2015/11/19/bobplanet-introduction.html 이 블로그 게시물의 경우는 og태그가 잘 들어가 있는데, facebook의 url debugger 에서 정상동작을 하지 않는 문제가 있네요. 왠지 매니저님이 젤 잘알꺼 같아서.. 질문을 올립니다 ㅠ

[2015-11-19 10:41] dusskapark commented on #61
@bigapple01 @hkjinlee  HR팀에 이벤트용 쿠폰을 받아내는 것이랑 방식 협의를 두분께 요청드려도 될까요..^^;;

[2015-11-19 10:55] #60 closed, assigned to nobody

[2015-11-19 13:23] raphael-shin commented on #62
@dusskapark og태그의 image URL에 `http://` 를 넣어보세요. 그리고 제가 알기로는 url 태그도 넣어야지 잘 동작하는걸로 알고있습니다.

[2015-11-20 01:52] jinsueng commented on #68
이진승 (https://www.facebook.com/jjiinn.lee)
- 직업 : Data Scientist
- 프로젝트 동기 : 밥먹으러 왔다가 여차저차하다보니 밥플래닛 프로젝트에 도착
- 프로젝트 담당 : Data 분석 및 Beacon 필드 테스트
- 경력 : DAM, Aquamarine 만들었음
- 관심 : Data Visualization, Beer, Surfing

[2015-11-20 02:01] jinsueng commented on #66
@hkjinlee 라즈베리파이 식당에 설치 및 테스트시, 제가 같이 진행하도록 하겠습니다 :) 그런데 라즈베리파이는 세팅 완료되었는지요?

[2015-11-20 04:45] hkjinlee commented on #66
@jinsueng @jhh7984 그럼 다음주 초에 같이 가시죠. 어제 10층에 저녁먹으러 갔다가 영양사님께 여쭤봤더니, 점장님이 오늘까지 휴가라고 하시더군요. 차주초에 저한테 연락을 주기로 했어요.

그리고 비콘 쪽은 라즈베리파이 한대 더 주문했고, 유효거리 80m짜리 블루투스 동글도 오늘 주문 완료. 다음주에 두 대로 테스트해보면 됩니다. 안에 올라가는 소프트웨어는 특별히 손 볼 게 없음.

[2015-11-20 06:27] dusskapark commented on #68
박주형 (http://kr.linkedin.com/in/dusskapark/)
- 직업 : OneStore 기술운영
- 동기 : 믿건 안 믿건 경영대 출신, 코딩에 빠져서 생활코딩 스터디그룹을 몇년째 운영중인데 GA 공부한다고 모여서 웹 개발까지
  일이 커져버림!
- 당당 : 웹 프론트 앤드 개발 (+ Google Analytics 담당)
- 관심 : Google Analytics, javascript 그리고 사과농장 +_+!

2015년 11월 20일 (금) 오전 10:52, jinseung notifications@github.com님이 작성:

[2015-11-20 06:42] dusskapark commented on #62
음.. 잘 들어가 있습니다; 근데 잘 안되네요 ㅠ
http://bobplanet.kr/blog/2015/11/17/beta-feedback.html

[2015-11-20 07:11] raphael-shin commented on #62
@dusskapark 저도 잘 안되다가 -_-;; 지금 갑자기 디버거에서 잘 나오네요. 확인 부탁드려요. 가끔 페이스북 봇이 잘 동작 안하더라구요. 버그가 있나봅니다.

[code]

[2015-11-20 07:13] dusskapark commented on #62
블로그 포스트마다 되는 것이 있고 안되는 것이 있습니다;; 뭐지 ㅎㅎ;;;;;

2015년 11월 20일 (금) 오후 4:11, Jungseob Shin notifications@github.com님이 작성:

[2015-11-20 09:19] jhh7984 commented on #37
jhh7984@gmail.com

[2015-11-20 09:32] bigapple01 opened #69 "T스토어 다운로드 링크 추가"
@dusskapark 매니저님, 구글플레이 다운로드 링크처럼 T스토어 다운로드 링크도 넣어야 하지 않을까요? 위치는 하단 구플 로고 아래에 + 상단에도 추가하는 게 좋...겠죠?

[2015-11-20 09:40] jhh7984 commented on #68
장활훈 (https://www.facebook.com/hwalhoon.jang)
- 직업 : 원스토어 게임 담당
- 동기 : 원스토어 게임 사업에 필요한 data mining skill 제고
- 담당 : 개발빼고 잡무
- 관심 : Data 를 활용한 Biz Dev. 및 마케팅 efficiency  제고
- 기타 : 게임사업팀에서 데이터쪽을 보다가 R이나 GA쪽 데이터를 보면 좋겠다고 생각하다 여기까지 왔네요. 개발력이 후달리지만 어찌저찌 팀에서 안쫓겨나고 개기고 있습니다.

[2015-11-20 09:48] dskim98 commented on #68
김두식 (https://www.facebook.com/doosik.kim.71)
- 직업 : 안드로이드 개발자
- 개발Product : Tstore, Tcloud, Tcloud안심백업
- role : 안드로이드 개발자이지만 안드로이드 아니고 웹과 iOS
- 부탁 : 잘 부탁드립니다.

[2015-11-20 10:11] jhh7984 commented on #66
@hkjinlee @jinsueng 월요일까지 인터뷰 자료(Questionare)작성하도록 하겠습니다.
같이 가서 한방에 다 끝낼수도 있겠네요...참고로, 점장님 위주로 인터뷰하고, 시간되면 영양사님정도도 한분 추가 인터뷰 하면 좋을 듯 합니다. (같은 분이려나요)..자료는 설문+영상촬영 정도로 할께요.

[2015-11-20 10:15] dusskapark commented on #62
정상 작동 확인했습니다 ^^

[2015-11-20 10:15] #62 closed, assigned to raphael-shin

[2015-11-20 10:15] dusskapark commented on #56
https://developers.facebook.com/docs/facebook-pixel/api-reference

자바스크립트 액션으로 픽셀을 설정할 수 있을 것 같습니다.
뱅기에서 처리해보겠습니다.

[2015-11-20 10:19] hkjinlee commented on #66
앞으로 @jhh7984 님이 자주 뵈어야 할 분이니 꽃단장하고 오세요 ㅋㅋ
참고로 점장님과 영양사님은 다른 사람입니다 :)

[2015-11-20 10:38] hkjinlee commented on #66
방금 NFC 스티커 제작했습니다. 프로그램 쓰니까 그냥 되네요. 다음 화요일 점심때 보여드리지요 :)

[2015-11-20 19:03] dusskapark commented on #69
@진헌규 매니저님,

밥 플래닛 메인으로 가는 uri scheme 이 있으면 skpla.net으로 처리를 할 수 있을 것 같습니다.

![screen shot 2015-11-21 at 4 00 26 am](https://cloud.githubusercontent.com/assets/4177529/11308971/7a568af6-9004-11e5-901c-bd97de9b14e0.png)

[2015-11-20 19:23] dusskapark commented on #69
@bigapple01 매니저님, 페북 픽셀로 다운로드 이벤트 성과를 추적하려면...
말씀하신 것처럼 다운로드 페이지를 따로 만들어야 할 것 같습니다. (휴가 갔다와서 해보겠습니다; )

[2015-11-23 02:49] hoyoonjung commented on #68
정호윤 (http://www.facebook.com/hoyoon.jun)

-직업 : 기획, Store
-동기 : A부터 Z까지 해보고 싶어서
-role : Data 활용 및 마케팅, 스토어 관리
-기타: 참여하게 되어 영광입니다.

[2015-11-23 04:55] bigapple01 commented on #68
여기까지 업로드 완료했습니다. (커밋을 넘나 많이 한 것...)
추가 아이디어 있으시면 알려주세요.

[2015-11-23 04:56] #45 closed, assigned to nobody

[2015-11-23 04:58] bigapple01 commented on #38
홈피용 이미지는 건져서 일단 닫습니다.

[2015-11-23 04:58] #38 closed, assigned to jhh7984

[2015-11-23 08:06] jhh7984 opened #70 "후니드 정식 인터뷰"
- 인터뷰 일정 확정 (11/24, w/점장님 외)
- 인터뷰 예상 질문 (아래)
  ## https://docs.google.com/document/d/137hVsUt8Q6br5ATQYgpQn1MG43T4_L2Xf5QdG6_cAXw/edit?usp=sharing

  <후니드 인터뷰  Questionare >
  - 인터뷰 형태의 Question & Answer 중심 (점장, 영양사님 정도)
  - 식단 및 이용환경 개선의 목적에 부합하는 형태의 인터뷰 시행
  - 향후 자료 활용을 고려한 방식으로 진행 (동영상 촬영, Questionare활용)
  - 프로모션과 연계된 협찬을 유도 (식권, 1개월 이용권 등?)

<Q1> 후니드에 대한 소개를 부탁 드립니다.

<Q2> 후니드(SKP) 조직 구성 및 소개

[2015-11-23 08:09] hkjinlee commented on #70
내일 점심때 Plalab 끝나면 10층 올라가서 1시반부터 2시까지 비콘 테스트좀 하고, 2시부터 인터뷰 진행하면 되겠네요 :)

[2015-11-23 08:15] #46 closed, assigned to nobody

[2015-11-23 08:15] #31 closed, assigned to nobody

[2015-11-24 04:03] hoyoonjung opened #71 "App내 본인 이름 하단 E-mail 짤림"
App내 좌측 메뉴에
사용자 이름 하단에 노출되는 사용자 E-mail이 일부 단말에서 짤려서 보입니다.

(현재까지 해당 현상 확인된 단말은 갤럭시 노트4, S6엣지입니다.)

![screenshot_2015-11-24-12-45-46](https://cloud.githubusercontent.com/assets/15335589/11357536/7aa59f7a-92ab-11e5-9a70-cbef92a20a9a.png)

[2015-11-24 04:03] dskim98 commented on #70
가장 단가 비싼메뉴 vs 가장 단가 저렴한 메뉴

[2015-11-24 06:45] jinsueng commented on #70
## 후반기 인터뷰 내용 업데이트 합니다.

플래닛의 특징
- 스크린 만족도 테스트 : 반복적으로 누르는 사람이 있음. 그러나 시간이 지나면서 데이터가 쌓이면서, 객관화된 고객의 의견이 되었음.
- 플래닛 평균 60점 후반대, 티타워가 평균 85점
- 텔레콤 계열은 직원들에게 식대를 주고 자율적으로 선택하게 하기때문에, 식수예측이 매우 중요함.

잘나가는 메뉴 / 만족도 좋은 메뉴
- 돈까스, 육개장, 북어국, 짬뽕, 삼겹살 데리야끼 덮밥
  만족도가 안좋은 메뉴
- 비빔면 : 2달전 본사에서 야심차게 추천한 메뉴였지만, 망했음

점심보다 저녁에는 만족도가 더 좋음.
A,B의 메뉴는 비슷하게 나가고 있음.

좀 짜면 전체적 만족도는 올라가나, 노트 글 피드백에는 안좋은 의견이 올라옴

본사에서 새로운 메뉴를

[2015-11-24 08:17] jhh7984 commented on #70
# 전반기 인터뷰 내용 업데이트 합니다.

ㅇ 인터뷰이 : 고종민 팀장님, 최인나 점장님
ㅇ 인터뷰어 : 진헌규,장활훈,이진승M님
ㅇ 주제 : 서비스와의 Collabo. 방안 + 프로모션 협조 요청 + 에필로그, 에피소드 등
ㅇ 인터뷰 결과 및 총평
    - 팀장님의 서비스 개선의 강한 의지와 바쁘신 점장님 탓에, 저희가 의도한 바의 자료들은 다 얻진 못하것 같네요(점장님의 산뜻한 인사말 영상클립, 웹에 넣을만한 재미난 뒷담화 등). 다만, 식권 40장을 협찬받았고, 인터뷰 내용중 한두개 정도만 필요시 소재로 활용할수는 있을 것 같습니다. 또 함께 사진촬영한번해서 소개자료나 협찬 코너에 게시하는것도 좋을 것 같네요~

**1. 지원 프로모션**
       - 식권 40장 협찬 예정 (20장~50장 심고

[2015-11-24 09:33] jhh7984 commented on #70
# <프로모션 안> 입니다. 의견주세요

*\* “밥플래닛” 앱 런칭 기념 프로모션**

1) 기간 : 12/8~12/18 (런칭후 10일)
2) 참가 방법 : 앱을 다운(아래 참조)하여 식사후에 식단을 평가
3) 포상
         3.1) 최다 참여상 (식단 평가 열심히 참여하신분들중) - 10명 \* 식권 1매
           → 현재 abusing 가능? 다운로드상? (매번 10번째 다운로드 유져분) - 10명 \* 식권 1매
         3.2) 최고 평가상 (식단 평가후기를 남기신분들중) - 10명 \* 식권 1매
         3.3) 최고 의견상 (서비스 개선의견을 주신분들중)  - 10명 \* 식권 1매
         3.4) 대상 (위의 분들중에 독보적이신 분) - 1명 \*

[2015-11-24 09:38] jhh7984 commented on #22
인터뷰 후기에 쓴 내용을 여기 다시 퍼왔습니다.~ (후니드 식권 40장 협찬)

# <프로모션 안> 입니다. 의견주세요

*\* “밥플래닛” 앱 런칭 기념 프로모션**

1) 기간 : 12/8~12/18 (런칭후 10일)
2) 참가 방법 : 앱을 다운(아래 참조)하여 식사후에 식단을 평가
3) 포상
         3.1) 최다 참여상 (식단 평가 열심히 참여하신분들중) - 10명 \* 식권 1매
           → 현재 abusing 가능? 다운로드상? (매번 10번째 다운로드 유져분) - 10명 \* 식권 1매
         3.2) 최고 평가상 (식단 평가후기를 남기신분들중) - 10명 \* 식권 1매
         3.3) 최고 의견상 (서비스 개선의견을 주신분들중)  - 10명 \* 식권 1

[2015-11-27 11:38] hkjinlee opened #72 "메뉴 검색기능 추가"
- 단순 text 검색보다는 AppEngine + Lucene 조합으로 구현
- https://github.com/UltimaPhoenix/luceneappengine 참조

[2015-11-27 11:42] hkjinlee commented on #72
Google이 AppEngine에 끼워파는 검색기능도 있음.
https://cloud.google.com/appengine/docs/java/search/

[2015-11-29 14:48] #53 closed, assigned to hkjinlee

[2015-11-29 14:48] #71 closed, assigned to hkjinlee

[2015-12-01 07:07] hkjinlee opened #73 "GA 패러미터 정의"
런칭 프로모션에 대한 GA 패러미터는 이렇게 할까 합니다. 의견 부탁!
- utm_medium: 트래픽을 유도하는 매체의 타잎을 정의
  - ad: 광고 타잎
  - site: 사이트 타잎. http://bobplanet.kr 및 페이스북 페이지 등
  - store: 앱스토어 타잎
  - offline: 포스터 등 오프라인 venue 타잎
- utm_source: 트래픽을 직접 보낸 소스를 정의
  - google: 구글. 구글광고 및 구글플레이스토어 등에 사용
  - facebook: 페북 페이지 및 페북 광고에 사용
  - pnet: 우리들 이야기
  - blind: 블라인드
  - tstore: T스토어
  - frontgate: 식당 정문 포스터
  - reargate: 식당 후문 NFC 스티커
-

[2015-12-01 07:10] hkjinlee commented on #73
이번 프로모션 케이스:

우리들 이야기: utm_medium=site&utm_source=pnet&utm_campaign=launch_201512
블라인드: utm_medium=site&utm_source=blind&utm_campaign=launch_201512
페북광고: utm_medium=ad&utm_source=facebook&utm_campaign=launch_201512
구글광고: utm_medium=ad&utm_source=google&utm_campaign=launch_201512
정문스티커: utm_medium=offline&utm_source=cafeteria_front&utm_campaign=launch_201512
후문스티커: utm_medium=offline&utm_source=caf

[2015-12-01 07:26] hkjinlee commented on #73
URL shortener를 이용해서 URL을 줄이는게 좋겠는데, skpla.net은 P넷 계정으로 연동돼서 여러 사람 사이에 데이터 공유가 불가능하니 뭔가 대안이 있으면 좋겠네요.

[2015-12-01 09:52] jhh7984 opened #74 "런칭 프로모션 案"
# 런칭 프로모션 案

**“밥 플래닛” 런칭 프로모션**

1)  기간 - 12/8~12/18 (런칭후 10일간)
2)  참가 방법 - 앱을 다운후 식단을 평가하시거나, 개선 아이디어를 전달해주시면 됩니다.
3)  포상
      ㅇ '다다익선'상 (참가상) - 앱에서 식단 평가를 꾸준히, 활발하게 참여하신분들중 (5분 \* 식권 2매)
      ㅇ '군계일학'상 (열정상) - 앱에서 식단 후기를 성의있게 남겨주신분들중 (5분 \* 식권 2매)
      ㅇ '니가낫다'상 (의견상) - 개발자 메일로 서비스 개선의견을 주신분들중 (5분 \* 식권 2매)
      ㅇ '화룡점정'상 (대상) - 1분께는 식권10매 + 깜짝 경품
4) 증정 - 이벤트 종료후 7일내 홈페이지 게시 및 개별 메일 통보/전달

[2015-12-01 10:00] jhh7984 commented on #74
@sjs1178  진석맨져님, 대상에게 줄 추가 경품은 뭘로할지 업데이트 부탁드려요~

[2015-12-02 00:53] sjs1178 commented on #68
제가 2주만에 어제 플라랩을 갔는데, 이런걸 써야하는지 몰랐습니다.ㅠ 늦었지만 지금 올립니다.

송진석 (http://songjinseok.com)

-직업 : 플랫폼/스토어 기획 및 사업/운영
-동기 : 서비스개발 전반에 대해서 알고 싶어서
-role : UX & GUI
-기타: 잘부탁드리겠습니다.

[2015-12-02 04:43] dusskapark commented on #73
자바스크립트 페이지를 따로 만드는 것이 좋을 것으로 생각되는데... 당장은 방법이 없으니, 구글 플레이 링크와 티스토어 링크를 따로 만들겠습니다.

그리고 메인페이지에서 다운로드 버튼을 누르는 경우도 있으니 아래와 같은 구분을 추가하겠습니다.
메인페이지: utm_medium=site&utm_source=main&utm_campaign=PartBadge

[2015-12-04 01:14] sjs1178 commented on #74
쇼핑 카테고리 내 깜짝 경품 선정은 몇개 뽑아봤는데 아래중에 하나 어떨까요?

<쇼핑 내 인기 배송 디저트> : 선물하기로 대상자에게 보내면 직접 주소 입력가능
1. 스테프 핫도그 40개 DIY세트 : 58,900원
2. 명미당 왕호두 찹쌀떡 : 20,500원
3. 대만 국민간식 펑리수 또는 망고젤리 : 8,900~12,800원 선

<쇼핑 내 인기 디저트 쿠폰> : 근처에서 밥대신 혹은 식사후 사용가능 쿠폰 위주
1. 버거킹 와퍼세트 : 7,500원 \* 0개
2. 투썸플레이스 아메리카노 : 4,600원 \* 0개
3. 할리스커피 아메리카노 : 4,100원 \* 0개
4. 도미노피자 슈퍼슈프림 + 1.25콜라 : 23,850원
5. VIPS : 5만원권

(정확한 예산을 몰라서 일단 여러개 후보로 드리고,

[2015-12-04 01:43] hkjinlee commented on #74
VIPS 상품권 좋네요. 아니면 디저트 계열에 한표 보탭니다. "밥먹고나서 디저트도 드시라고" 같은 마케팅 메시지를 만들 수 있겠네요.

[2015-12-04 02:59] sjs1178 opened #75 "밥플래닛 런칭프로모션 포스터 공유"
포스터 안 공유드립니다.

버전은 총 2가지이고, 1)밥플래닛을 사용해야하는 이유 2)출시/설치안내 3)이벤트 안내를 내용으로 했습니다. 버전은 총 2가지이고 첫번째는 보통장소들 + 입구쪽, 두번째는 출구쪽에 부착되면 될 것 같습니다.

(밥플래닛을 사용해야하는 이유를 메인으로 잡다보니 일부 타 서비스를 까게 되었네요...)

![default](https://cloud.githubusercontent.com/assets/15334249/11580774/2a28367c-9a7e-11e5-9456-51dcda5bab0f.jpg)
![2](https://cloud.githubusercontent.com/assets/15334249/11580775/2a32466c-9a7e-11e5-8e4f-218392570d95

[2015-12-04 04:18] hkjinlee commented on #75
고생하셨습니다! 역시 PD님 작품답게 고퀄 오브 고퀄이네요. 코멘트 조금 드리자면:
- 저는 1안이 2안보다 좋아 보입니다 :) 1안은 로그인의 번거로움을 "덜어준다"는 코드가 되는데, 2안은 말씀주신대로 "까는" 코드가 되겠네요.
- 앱 설치는 NFC 스티커를 이용합니다. (생각해보니 @sjs1178 님이 참석 못하셨을 때 진행했던 듯) T스토어 URL과 구글플레이 URL을 담고 있는 스티커를 각각 한장씩 만들어 포스터에 붙일 예정이에요. 스티커 사이즈는 3cm \* 3cm의 원형이니, 스티커 붙일 자리를 확보해주시면 되겠습니다. 제 자리에 샘플이 있으니 와서 한번 보시죠.
- Creative는 '침몰' 말고 다른 코드 없을까요? 개인적으로 아직 노란리본 달고 다니는 사람으로, 침몰코드가 살짝 불편하게 여

[2015-12-04 04:27] hkjinlee commented on #75
http://www.shutterstock.com/pic-339975023/stock-vector-the-dismantling-of-the-wall-icon.html?src=Onn_YT3MXnWeSBC4AAunuw-1-11
이런 류는 어때요? (Shutterstock 계정 있으니 유료 구매 가능. 다른 이미지라도 무방)

[2015-12-04 04:33] hkjinlee commented on #75
http://www.causematters.com/farmfoodbook/
깨는 형태도 가능은 할 듯. (추천검색어: "no more")

[2015-12-04 04:34] hkjinlee commented on #75
마지막. 역시 가장 무난한 건 빨간색 금지 sign이겠네요. PSD도 있음.
http://mauve7.tistory.com/136

[2015-12-04 04:54] sjs1178 commented on #75
아무 생각없이 물 아이콘 했는데 ㅠㅠ

아래와 같이 수정해봤습니다. 사내인 만큼 세절된 것 같은 느낌을 내봤습니다.
그리고 NFC도 수정해봤는데, 사이즈는 실제 A3로 인쇄해보고 조정해야할 것 같습니다.

![3](https://cloud.githubusercontent.com/assets/15334249/11582150/394a3b54-9a8e-11e5-9438-406b07be9c85.jpg)

[2015-12-04 05:03] hkjinlee commented on #75
오오오 세절 괜찮은데요? 역시 PD님의 손길이 닿으면 확 달라지는군요.
NFC 스티커는 두 개 들어가면 됩니다. 참고하시라고 지금 자리로 가져다 드리겠음.

[2015-12-04 05:51] hkjinlee opened #76 "GA 트래킹ID 재정의"
전부터 마음에 걸리긴 했는데, 아무래도 GA 트래킹ID를 다시 따야 할 것 같습니다.

현재 밥플래닛 안드로이드앱 용으로 파둔 GA 트래킹ID가 다른 사용자에 의해 사용되고 있는 것 같네요. 아래를 보시면 완전 엉뚱한 사이트에서 들어오는 트래픽들을 보실 수 있습니다. 시간이 지나면 나아지겠거니 생각했는데 오판이었던 듯.

![ga](https://cloud.githubusercontent.com/assets/7744953/11582801/1d26c750-9a96-11e5-84a8-9ca139b5aa22.png)

[2015-12-04 07:44] dusskapark commented on #75
PhotoFunia 라는 사이트에서 합성을 할 수 있네요.

![photofunia-1449206498](https://cloud.githubusercontent.com/assets/4177529/11584288/16549ffa-9aa6-11e5-92cc-e42ad4f01f3a.jpg)
![photofunia-1449206609](https://cloud.githubusercontent.com/assets/4177529/11584289/167b8002-9aa6-11e5-82a4-41b160ced18e.jpg)

[2015-12-04 07:46] dusskapark commented on #75
스타워즈 컨샙도 시도해봄직.. 해서..이벤트 사이트를 만들었습니다.
상품으로 CGV 영화티켓주고.. 스타워즈 보라고 하는 것도..;

http://bobplanet.kr/event.html

[2015-12-04 08:32] #76 closed, assigned to nobody

[2015-12-08 02:11] jinsueng opened #77 "식당 비콘 설치"
식당 좌측, 우측 구석에 라즈베리파이 비콘 설치 완료하였습니다.

[2015-12-08 02:14] jinsueng commented on #77
12/8일 설치 사진
https://goo.gl/photos/Lgub9eKBbpnDQNZz5
https://goo.gl/photos/oE9GiizrNZh3VExX8

Beacon감지 되는것도 확인 완료하였습니다. 식당에서 나가기만 하면 안잡히네요 ㅎ

issue오픈하자마 close하겠습니다 ㅎ

[2015-12-08 02:14] #77 closed, assigned to nobody

[2015-12-08 02:31] hkjinlee commented on #77
Thumbs up!

[2015-12-10 06:35] hkjinlee opened #78 "크리스마스 이벤트"
블라인드에 우리 제품들은 크리스마스 이벤트 이야기가 올라왔던게 생각나서 의견 올려봅니다.
솔선수범해서 우리가 크리스마스 이벤트 한번 하죠!
- 밥플래닛 팀원들이 5천원씩 갹출 (대충 한 7만원 나오려나요.. 아깝다 생각지 마시고 그동안 먹은 점심값을 생각해봅시다)
- 12월 22일~23일 양일간 밥플래닛 앱에 임의의 확률로 산타 둥둥이 띄우고 가장 많이 산타를 잡은 사람의 이름으로 어디 좋은 곳에 기부 진행
- 기부 영수증은 사진 찍어서 블로그에 올림 (명의자 이름이 나오게 하는 게 매우 중요)

이정도면 나름 훈훈하게 연말을 보내는 이벤트가 될 것 같은데.. 어떻게들 보시는지요?

@jhh7984 님, 의견 부탁드립니다.

[2015-12-10 07:01] hkjinlee commented on #73
앞으로 자주 쓸 듯하니 별도 [위키페이지](https://github.com/bobplanet/Bobplanet/wiki/%EB%B0%A5%ED%94%8C%EB%9E%98%EB%8B%9B-%EB%A7%81%ED%81%AC-URL-%EA%B7%9C%EC%B9%99)로 빼고 본 이슈는 클로징합니다

[2015-12-10 07:01] #73 closed, assigned to dusskapark

[2015-12-10 08:44] dusskapark commented on #69
추가했습니다.

[2015-12-10 08:44] #69 closed, assigned to hkjinlee

[2015-12-10 08:45] dusskapark commented on #56
금일 수정해서 적용했습니다.

[2015-12-10 08:45] #56 closed, assigned to bigapple01

[2015-12-10 08:45] #37 closed, assigned to nobody

[2015-12-10 08:46] #75 closed, assigned to nobody

[2015-12-10 08:48] dusskapark opened #79 "A/B 테스트 페이지를 추가했습니다."
웹에 몇가지 업데이트를 했습니다.
- 픽셀코드를 다시 적용했습니다. (오타가 있었던 것 같습니다.)
- 오늘의 메뉴를 단독으로 보는 페이지를 추가했습니다. (http://bobplanet.kr/menu.html/)
- A/B 테스트가 가능하도록 type_b 페이지를 만들었습니다. (http://bobplanet.kr/index_type_b.html )

Type B 페이지는 Google Analytics > 실험에서 켜면... 바로 활성화 됩니다.

[2015-12-11 01:44] bigapple01 commented on #79
메뉴에 아침/점심/저녁을 분간할 수 있는 표식(?)이 있으면 좋겠습니다. :)

[2015-12-11 05:04] dusskapark commented on #79
추가했습니다.

[2015-12-11 05:04] #79 closed, assigned to nobody

[2015-12-11 05:44] jhh7984 commented on #78
취지나 내용은 좋아 보이는데요~
1. 일단, 상시로 이벤트를 운영하는 부분은 리소스나 트래픽을 봐가며 천..천히 결정하는게 맞을 것 같구요
2. 위의 크리스마스 이벤트는 런칭 프로모션(12/18) 종료후 좀 이른감은 없지않지만, 위처럼 구현해서 해보는건 좋을 것 같습니다. 홍보 채널로는 웹페이지와 앱내 공지 (공지란을 하나 파야하지 않을까요?) 및 푸시를 이용하는게 어떨까 싶네요.

[2015-12-13 10:11] dusskapark commented on #61
https://www.icloud.com/keynote/0000GgDD1oe2TvwXEORDuP1Zw#%E1%84%87%E1%85%A1%E1%86%B8%E1%84%91%E1%85%B3%E1%86%AF%E1%84%85%E1%85%A2%E1%84%82%E1%85%B5%E1%86%BA
- 사골 끓이고 있습니다.
- 조미료 좀 넣어주세요.

[2015-12-13 10:12] dusskapark commented on #61
음.. 여기에 사용한 이미지 몇개를 투하 합니다.

![002](https://cloud.githubusercontent.com/assets/4177529/11766484/5b7d77fe-a1cd-11e5-94e0-ff7ecee96a48.jpg)
![003](https://cloud.githubusercontent.com/assets/4177529/11766486/5dd443fc-a1cd-11e5-9097-883e5502e952.png)
![004](https://cloud.githubusercontent.com/assets/4177529/11766487/60663e9a-a1cd-11e5-8c0d-7562fe1ff45c.jpg)
![008](https://cloud.githubusercontent.com/a

[2015-12-13 10:21] hkjinlee commented on #61
이정도면 스토리텔링으로는 썩 괜찮은데요? 굳이 의견 드리자면,
- 'T스토어 개발자센터 직접 이용해보기' 꼭지 하다 더 넣으면 좀더 풍성해질 듯하고,
- 이제 오픈 일주일 됐으니, 데이터에서 뽑아낸 implication 몇가지 정도 양념으로 쳐주면 더 좋아질 듯.

[2015-12-13 10:22] hkjinlee commented on #61
아 gmail로 지난주에 찍은 단체사진 보낼께요

[2015-12-15 04:24] hkjinlee opened #80 "메뉴평가요청 알림 눌러도 앱이 실행되지 않음"
(냉무)

[2015-12-15 15:32] #66 closed, assigned to jhh7984

[2015-12-16 10:30] dusskapark commented on #61
https://www.icloud.com/keynote/0000GgDD1oe2TvwXEORDuP1Zw#%E1%84%87%E1%85%A1%E1%86%B8%E1%84%91%E1%85%B3%E1%86%AF%E1%84%85%E1%85%A2%E1%84%82%E1%85%B5%E1%86%BA

사골국 올립니다

[2015-12-16 11:17] dusskapark commented on #61
[밥플래닛.pdf](https://github.com/bobplanet/Bobplanet/files/63899/default.pdf)

[2015-12-19 03:14] dusskapark commented on #22
질문드립니다~

식권 소모율(?)이 어느정도 인가요?
많이 남았다면 GBS에 방송 나올 때 이벤트한다고 컷이라도 넣어달라고 하면 어떨까... 생각이 들어서요.

[2015-12-19 03:15] dusskapark commented on #22
실수로 닫았습니다 ㅠ

[2015-12-22 07:10] dusskapark opened #81 "22일 회의내용"
# 아이디어 각출
- 무기명/익명 게시판을 만들자 (밥블라인드)
  - 전체 리뷰를 볼 수 있었으면 좋겠다.

- 밥먹을 사람 매칭
- 좋아하는 매뉴 / 싫어하는 매뉴 등록 > 푸시
  - 개인별로 자신의 평가 히스토리를 볼 수 있는 기록도 필요함.
  - 개인별 이슈트랙킹 기능이 필요함
- 카카오톡/페북 쉐어
- 웹에 로그인 넣기
  - Google play 다운로드 링크 추가
- 사진캐싱
  - (오늘 날짜 이외에 매뉴 확인이 안됨)
- 아이콘의 의미는?
- 하단의 + 버튼은 왜 있는지?
  - 좋아요 싫어요 이미지를 형상화 한 것으로 바꾸는 것이 나을 듯
# data 강화

# 인앱결제를 달아보자
- 식권 판매/경매 (슈팅 프라이스)
## \- 익명 기간제 상품

[2016-01-12 10:15] dusskapark opened #82 "카카오 링크 추가"
- 웹사이트 카카오 링크 추가
- 안드로이드 카카오 링크 추가

[2016-01-12 15:42] #70 closed, assigned to jinsueng

[2016-01-12 15:45] dusskapark commented on #22
@jhh7984 매니저님, 이벤트 마무리를 부탁드릴께요. 식권을 쓸 수 있을 때 다 써야 할 것 같습니다.

[2016-01-12 15:45] #81 closed, assigned to nobody

[2016-01-12 15:46] dusskapark opened #83 "안드로이드 클라이언트 버그 수정"
안드로이드 클라이언트의 자잘한 버그를 수정하고자 합니다.

[2016-01-12 15:51] dusskapark opened #84 "밥플래닛 비정형 리포트 만들기"
- 그동안 쌓인 데이터 분석하기
- 분석한 데이터를 웹사이트에 표시하기

[2016-01-12 15:54] dusskapark opened #85 "후니드 전달용 대시보드 만들기"
- Google Analytics 대시보드를 만들어서 후니드에 제공함. (구글 계정을 하나 제공함)
- 현재 몇명이 밥플래닛 앱을 보고 있는지
- 어떤 이벤트를 실행하는지를 확인할 수 있도록

[2016-01-12 15:55] dusskapark opened #86 "R 스터디 및 데이터 수집 추가"
- 파싱하는 데이터를 추가함